#beaver-modal-text-status {
  position: fixed;
  top: -100px;
  -webkit-transition: opacity linear 0.3s, top linear 0.3s;
  -moz-transition: opacity linear 0.3s, top linear 0.3s;
  -o-transition: opacity linear 0.3s, top linear 0.3s;
  -ms-transition: opacity linear 0.3s, top linear 0.3s;
  transition: opacity linear 0.3s, top linear 0.3s;
  width: 100%;
  z-index: 9999;
}
#beaver-modal-text-status .alert {
  width: 400px;
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  padding: 5px;
  font-size: 10pt;
  position: relative;
  z-index: 9999;
}
#beaver-modal-text-status .alert .close {
  right: 0;
}
#beaver-modal-text-status.beaver-status-out {
  top: -40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#beaver-modal-text-status.beaver-status-in {
  top: 5px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#beaver-progressbar {
  position: fixed;
  top: 0;
  width: 100%;
  heigth: 10px;
  z-index: 2000;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 4px;
}
.cp-content-tab-body-list {
  position: relative;
  margin: 53px 0 50px 0;
  padding: 10px;
}
.cp-content-tab-body-list table thead tr {
  font-weight: bold;
}
.cp-content-tab-body-list table tbody td {
  color: #555;
  font-size: 14px;
  min-height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  vertical-align: middle;
}
.cp-content-tab-body-list table span.form-control {
  border: none !important;
  background: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.cp-content-tab-body-list form .form-group {
  margin-left: 0;
  margin-right: 0;
}
.cp-content-tab-body-item .thumbnail {
  margin-bottom: 0px;
  width: 260px;
}
.cp-content-tab-body-item .thumbnail .caption h3,
.cp-content-tab-body-item .thumbnail .caption h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.cp-content-tab-body-item .thumbnail .img-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.cp-content-tab-body-item .thumbnail .img-container.no-image {
  -webkit-box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
}
.cp-content-tab-body-item .thumbnail:hover .thmb-img-panel-container {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 10px;
}
.cp-content-tab-body-item .thumbnail .thmb-img-panel-container {
  position: absolute;
  top: 0px;
  width: inherit;
  -webkit-transition: opacity 0.2s linear, top 0.2s linear;
  -moz-transition: opacity 0.2s linear, top 0.2s linear;
  -o-transition: opacity 0.2s linear, top 0.2s linear;
  -ms-transition: opacity 0.2s linear, top 0.2s linear;
  transition: opacity 0.2s linear, top 0.2s linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.cp-content-tab-body-item .thumbnail .thmb-img-panel-container .btn-group {
  position: relative;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#img-file-helpers-dialog .form-horizontal {
  padding: 10px 0 0 0;
}
#img-file-helpers-dialog .form-horizontal .form-group {
  margin: 0;
  padding: 0;
}
#img-file-helpers-dialog .form-horizontal .form-group .control-label {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
#img-file-helpers-dialog .form-horizontal .form-group .form-control {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  word-wrap: break-word;
  display: inline-block;
}
#img-file-helpers-dialog .img-container {
  padding: 10px;
}
#img-file-helpers-dialog .img-container img {
  max-width: 655px;
}
.panel-collapse-toggle {
  float: right;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  width: 20px;
}
.panel-collapse-toggle a {
  outline: none;
}
.panel-collapse-toggle a:before {
  content: "\f0d7";
  font-family: FontAwesome;
}
.panel-collapse-toggle a:hover,
.panel-collapse-toggle a:focus {
  text-decoration: none;
}
.panel-collapse-toggle a.in:before {
  content: "\f0d8";
  font-family: FontAwesome;
  text-decoration: none;
}
.cp-content-item-panel {
  text-align: right;
  float: right;
  position: relative;
  margin-top: 6px;
  margin-right: 0;
  padding-right: 0;
}
.required-field-marker {
  color: #8b0000;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  margin-right: 2px;
  margin-left: -10px;
  font-family: Arial;
  text-decoration: none;
  border-bottom: 0;
  position: absolute;
}
.required-field-marker.inline {
  position: relative;
  top: 5px;
  margin: 0 30px 0 5px;
}
.cp-file-control {
  background-color: transparent !important;
}
.checkbox-fa-input + label + div > i {
  cursor: pointer;
}
#cp-nav-container {
  margin-bottom: 0 !important;
}
#cp-nav-container .navbar-inner {
  width: 100%;
  position: relative;
  margin: auto;
}
#cp-nav-container .navbar-inner [class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
#cp-nav-container .navbar-inner .btn-group {
  display: inline-block;
  margin-left: 5px;
}
#cp-nav-container .navbar-inner .nav li a,
#cp-nav-container .navbar-inner .nav li a:focus {
  outline: none;
}
#cp-nav-container .navbar-inner .fa-fw {
  text-align: left;
  width: 1.4em;
}
.beaver-logo-link {
  padding: 5px 0px 5px 15px;
}
.beaver-logo-link img {
  max-height: 40px;
}
#login-container {
  position: relative;
  display: table;
  height: 100%;
}
#login-form-container {
  position: relative;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
#login-form-container .panel {
  -webkit-box-shadow: 0 2px 7px -3px rgba(0,0,0,0.5);
  box-shadow: 0 2px 7px -3px rgba(0,0,0,0.5);
  width: 300px;
}
#login-form-container .panel .panel-body {
  padding: 10px 10px 0 10px;
}
#login-form-container .panel .panel-body .form-errors .alert {
  padding: 2px;
  font-size: 10pt;
}
.cp-content-tab-body.text-pieces {
  margin-bottom: 50px;
}
.cp-content-tab-body.text-pieces .cp-content-item {
  display: block;
  margin-bottom: $data-music-item-margin;
  padding: $data-music-item-padding;
  width: 100%;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: $data-music-item-bg;
  -webkit-transition: background-color linear 0.2s;
  -moz-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  -ms-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.cp-content-tab-body.text-pieces .cp-content-item:hover {
  background-color: $data-music-item-hover-bg;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  border: 4px solid $data-music-item-border-hover-color;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container {
  height: $data-music-item-height;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container:before {
  content: "";
  display: block;
  background: none;
  width: 10px;
  height: $data-music-item-height;
  float: left;
  background-repeat: repeat-y;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form {
  height: $data-music-item-height;
  line-height: $data-music-item-height;
  vertical-align: middle;
  padding-left: 0;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug:hover,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  border-color: #ccc;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug:focus,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(102,175,233,0.6);
  box-shadow: 0 0 8px rgba(102,175,233,0.6);
  border-color: #66afe9;
}
.panel-body .extra-item {
  cursor: default;
  margin: 5px;
  padding: 3px;
  float: left;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #def2df;
  color: #333;
  font-size: 14px;
}
.panel-body .extra-item .close {
  color: #a9a9a9;
  text-shadow: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 21px;
  margin-left: 2px;
}
.panel-body .extra-item .close:hover,
.panel-body .extra-item .close:focus {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.cp-content-tab-body-item .thumbnail {
  position: relative;
}
.cp-content-tab-body-item .thumbnail img {
  max-height: 150px;
  max-width: 150px;
}
.cp-content-tab-body-item .thumbnail .caption {
  font-size: 12px;
  height: 30px;
  overflow: hidden;
}
#cp-data-coin-other-images .thumbnail {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
#cp-data-coin-animation-images .thumbnail {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
#cp-data-coin-animation-images .thumbnail img {
  max-height: 100px;
  max-width: 100px;
}
.cp-content-tab-body-list.panel-group .panel-default .panel-heading {
  background-color: #fff;
}
.cp-content-tab-body-list.panel-group .panel-heading .form-group {
  margin-bottom: 0;
}
.cp-content-tab-body-list.panel-group .panel-heading:before {
  content: "";
  display: block;
  float: left;
  height: 34px;
  width: 5px;
  left: -10px;
  position: relative;
}
.cp-content-tab-body-list.panel-group .panel-heading:hover:before {
  background-image: url("/images/grippy1_large.png");
  cursor: move;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .cp-content-tab-body-list.panel-group .panel-heading:hover:before {
    background-image: url("/images/grippy1_large@2x.png");
    -webkit-background-size: 5px 30px;
    -moz-background-size: 5px 30px;
    background-size: 5px 30px;
  }
}
.item-list-content-modified {
  font-size: 10px;
  padding: 0px;
  text-align: center;
}
.body-cp {
  min-height: 900px;
  background-color: #fff;
}
.body-padding {
  padding-top: 50px;
}
.body-subtle-bg {
  background: url("/images/subtle-bg/seamlesstexture27_500.jpg");
  background-repeat: repeat;
  background-color: #ebca9f;
}
#cp-container {
/*padding 0 15px*/
/*margin 0 -15px*/
  position: relative;
}
#cp-container .row {
  margin: 0;
}
.cp-section-container {
  display: table;
  width: 100%;
  height: 900px;
}
.cp-section-sidebar {
  display: table-cell;
  width: 16%;
  background-color: #dce1e5;
  position: relative;
  z-index: 1010;
}
.cp-section-sidebar .cp-section-nav-container {
  position: fixed;
  top: 50px;
  width: inherit;
  z-index: 1010;
}
.cp-section-sidebar .cp-section-nav-container ul {
  background-color: #dce1e5;
  -webkit-box-shadow: inset 0px 5px 7px -6px rgba(0,0,0,0.3);
  box-shadow: inset 0px 5px 7px -6px rgba(0,0,0,0.3);
}
.cp-section-sidebar .cp-section-nav-container ul li {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.cp-section-sidebar .cp-section-nav-container ul li a {
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  -webkit-transition: background-color linear 0.2s;
  -moz-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  -ms-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
  -webkit-transition: color linear 0.4s;
  -moz-transition: color linear 0.4s;
  -o-transition: color linear 0.4s;
  -ms-transition: color linear 0.4s;
  transition: color linear 0.4s;
}
.cp-section-sidebar .cp-section-nav-container ul li a:focus {
  outline: none;
}
.cp-section-sidebar .cp-section-nav-container .nav .panel-group {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.cp-section-sidebar .cp-section-nav-container .nav .panel-group .panel {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.cp-section-sidebar .cp-section-nav-container .nav .panel-group .panel .panel-heading {
  background-color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.cp-section-sidebar .cp-section-nav-container .nav .panel-body {
  padding: 0;
  background-color: #c8cdd1;
}
.cp-section-sidebar .cp-section-nav-container .nav .panel-body ul {
  background-color: #c8cdd1;
}
.cp-section-content {
  display: table-cell;
  width: 84%;
  -webkit-box-shadow: inset 2px 0px 6px rgba(0,0,0,0.3);
  box-shadow: inset 2px 0px 6px rgba(0,0,0,0.3);
}
.cp-content-tab {
  min-height: 600px;
/*background-color #fff*/
  display: table;
  width: 100%;
/*box-shadow $section-content-shadow*/
}
.cp-content-tab .cp-content-tab-header-container,
.cp-content-tab .cp-content-group-header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0px 3px 7px -4px rgba(0,0,0,0.3), inset 0px 4px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 7px -4px rgba(0,0,0,0.3), inset 0px 4px 4px -1px rgba(0,0,0,0.3);
  display: table-row;
  width: 84%;
  z-index: 1000;
  position: fixed;
}
.cp-content-tab .cp-content-tab-header-container .cp-content-tab-header,
.cp-content-tab .cp-content-group-header .cp-content-tab-header {
  padding: 10px;
  height: 53px;
}
.cp-content-tab .cp-content-tab-header-container .cp-content-tab-header .form-group,
.cp-content-tab .cp-content-group-header .cp-content-tab-header .form-group {
  margin: 0;
}
.cp-content-tab .cp-content-tab-header-container .cp-content-tab-header .btn-group,
.cp-content-tab .cp-content-group-header .cp-content-tab-header .btn-group {
  margin-right: 10px;
}
.cp-content-item-panel-cell {
  vertical-align: middle !important;
  text-align: right;
}
.cp-content-item-panel-cell.item-content {
  padding-left: 0px !important;
  padding-right: 2px !important;
}
.cp-content-item .form-group input {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cp-content-item .form-group input:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  border-color: #ccc;
}
.cp-content-item .form-group input:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(102,175,233,0.6);
  box-shadow: 0 0 8px rgba(102,175,233,0.6);
  border-color: #66afe9;
}
.cp-content-tab-body-item {
  position: relative;
  margin: 53px 0 50px 0;
/*padding 10px*/
}
.cp-content-tab-body-item form > .row {
  padding-top: 20px;
}
.cp-content-tab-body-item form .form-group {
  margin-left: 0;
  margin-right: 0;
}
.cp-content-tab-body-item form .form-group .panel {
  margin-bottom: 0px;
}
.cp-content-tab-body-item form .form-group .panel .panel-heading {
  padding: 5px;
}
.cp-content-tab-body-item form .form-group .panel .panel-body {
  padding: 0px;
}
.cp-content-tab-body-item form .form-group .panel .panel-body table {
  border: none;
  margin-bottom: 0px;
}
.cp-content-tab-body-item .nav a {
  outline: none;
}
.cp-content-tab-body-item .nav a:focus {
  outline: none;
}
.cp-content-tab-body-item #cp-data-item-nav {
  padding: 10px;
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  z-index: 999;
}
.cp-content-tab-body-item .tab-content {
  position: relative;
  padding-top: 75px;
}
.no-border {
  border: none !important;
}
#modal-alert .back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
  z-index: 2000;
}
#modal-alert .alert {
  text-align: center;
  position: absolute;
  z-index: 2000;
  font-size: 14pt;
  width: 400px;
  color: $text-color;
  padding: 30px !important;
  border: 1px solid #999;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 8px 2px rgba(111,76,51,0.3);
  box-shadow: 0 3px 8px 2px rgba(111,76,51,0.3);
}
#modal-alert .alert.no-back {
  color: rgba(0,0,0,0.6);
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.modal-body {
  max-height: none;
}
