@import "nib"

@import "cp/varaibles"

@import "mixins/beaver-status"
@import "mixins/beaver-progressbar"

@import "cp/common"

@import "cp/navigation"
@import "cp/login"
@import "cp/data"

.body-cp
  min-height 900px
  background-color #fff

.body-padding
  padding-top $navbar-height

.body-subtle-bg
  background url("/images/subtle-bg/seamlesstexture27_500.jpg")
  background-repeat repeat
  background-color #EBCA9F

#cp-container
  /*padding 0 15px*/
  /*margin 0 -15px*/
  position: relative

  .row
    margin 0

.cp-section-container
  display table
  width 100%
  height 900px

.cp-section-sidebar
  display table-cell
  width 16%
  background-color $section-nav-bg-color
  position relative
  z-index $section-nav-z-index

  .cp-section-nav-container
    position fixed
    top $navbar-height
    width inherit
    z-index $section-nav-z-index

    ul
      background-color $section-nav-bg-color
      box-shadow inset 0px 5px 7px -6px rgba(#000,0.3)
      li
        border-radius 0

        a
          &:focus
            outline none

          border-radius 0
          outline none
          transition background-color linear 0.2s
          transition color linear 0.4s

    .nav
      .panel-group
        border-radius 0 !important
        .panel
          border-radius 0 !important

          .panel-heading
            background-color $section-gr-nav-bg-color
            border-radius 0

      .panel-body
        padding 0
        background-color $section-sub-nav-bg-color
        ul
          background-color $section-sub-nav-bg-color


.cp-section-content
  display table-cell
  width 84%
  box-shadow $section-content-shadow

.cp-content-tab
  min-height $cp-content-min-height
  /*background-color #fff*/
  display table
  width 100%
  /*box-shadow $section-content-shadow*/

  .cp-content-tab-header-container, .cp-content-group-header
    position relative
    background-color #fff
    border-bottom 1px solid #ddd
    box-shadow 0px 3px 7px -4px rgba(#000,0.3), inset 0px 4px 4px -1px rgba(#000,0.3)
    display table-row
    width 84%
    z-index $tab-list-header-z-index
    position: fixed

    .cp-content-tab-header
      padding 10px
      height $tab-list-header-height

      .form-group
        margin 0

      .btn-group
        margin-right 10px


.cp-content-item-panel-cell
  vertical-align middle !important
  text-align right

  &.item-content
    padding-left 0px !important
    padding-right 2px !important



// using in tab-body-list for table-tbody
// using in tab-body-item for custom list props, e.g. aGroups[{i18nTitle}]
.cp-content-item
  .form-group
    input
      border-color transparent
      background-color transparent
      box-shadow none

      &:hover
        background-color white
        box-shadow $data-form-input-hover-shadow
        border-color $data-form-input-border-hover-color
      &:focus
        background-color white
        box-shadow $data-form-input-focus-shadow
        border-color $data-form-input-border-focus-color

.cp-content-tab-body-item
  position relative
  margin $tab-list-header-height 0 50px 0
  /*padding 10px*/
  form
    & > .row
      padding-top 20px

    .form-group
      margin-left 0
      margin-right 0
      .panel
        margin-bottom 0px

        .panel-heading
          padding 5px
        .panel-body
          padding 0px
          table
            border none
            margin-bottom 0px

  .nav
    a
      &:focus
        outline none

      outline none

  #cp-data-item-nav
    padding 10px
    position: fixed
    width 100%
    background-color rgba(white,0.8)
    z-index $tab-item-nav-z-index

  .tab-content
    position: relative
    padding-top 75px


.no-border
  border none !important

#modal-alert
  .back
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    width 100%
    height 100%
    background-color rgba(#fff, 0.2)
    z-index $modal-alert-z-index

  .alert
    text-align center
    position absolute
    z-index $modal-alert-z-index
    font-size 14pt
    width 400px
    color $text-color
    padding 30px !important
    border 1px solid #999
    border-radius 12px
    box-shadow 0 3px 8px 2px rgba(#6f4c33, 0.3)

    &.no-back
      color rgba(black, 0.6)
      border none
      border-radius 0
      box-shadow none
      background-color transparent

.modal-body
  max-height none
