@import "site/varaibles"
@import "mixins/mixins"

@import "nib"

@import "mixins/bootstrap-overrides"
@import "../js/libs/lightbeam/tools/captcha/captcha"

@import "site/common"

@import "site/index"
@import "site/show-room"
@import "site/main-navbar"
@import "site/catalog"
@import "site/pages"


$text-color = black

body
  font-family 'Open Sans', sans-serif
  padding 0
  margin 0
  font-size 16pt
  color $text-color
  overflow-y scroll

#main-content
  position relative
  z-index $main-content-z-index
  background-color white

.main-footer-container
  background-color #ffcc00
  height 20px
  width 100%
  position relative
  z-index $main-content-z-index

.main-footer
  width $content-width
  display table-cell
  vertical-align middle
  height 20px
  background-color #ffcc00
  font-size 10px

  .terms
    float left
    margin-left 20px

  .developer
    float right
    margin-right 20px


.help-inline
  font-size 14px

.alert
  margin-bottom 3px !important
  padding 4px 35px 4px 8px !important
  font-size 14px
  text-align center

.form-errors
  margin-bottom 20px

#modal-alert
  .back
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    width 100%
    height 100%
    background-color rgba(#fff, 0.8)
    z-index 1000

  .alert
    text-align center
    position absolute
    z-index 1001
    font-size 14pt
    width 400px
    color $text-color
    padding 30px !important
    border 1px solid #999
    border-radius 12px
    box-shadow 0 3px 8px 2px rgba(#6f4c33, 0.3)

    &.no-back
      color rgba(black, 0.6)
      border none
      border-radius 0
      box-shadow none
      background-color transparent

.modal-body
  max-height none

