.btn-xxs {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 3px;
}
#captcha img {
  width: 30px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.01);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border linear 0.2s;
  -moz-transition: border linear 0.2s;
  -o-transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  transition: border linear 0.2s;
}
#captcha img:hover {
  border: 1px solid #808080;
}
#captcha img.active {
  border: 1px solid #808080;
  background-color: #fff5d8;
}
#captcha-image-container {
  margin-top: 10px;
}
.required-field-marker {
  color: #8b0000;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  margin-right: 2px;
  font-family: Arial;
  text-decoration: none;
  border-bottom: 0;
  position: absolute;
}
.required-field-marker.inline {
  position: relative;
  top: 5px;
  margin: 0 30px 0 5px;
}
.w200 {
  width: 200px !important;
}
.nav > li > a {
  -webkit-transition: border-color linear 0.2s;
  -moz-transition: border-color linear 0.2s;
  -o-transition: border-color linear 0.2s;
  -ms-transition: border-color linear 0.2s;
  transition: border-color linear 0.2s;
  -webkit-transition: background-color linear 0.2s;
  -moz-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  -ms-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mr-10 {
  margin-right: 10px !important;
}
#show-room-container {
/*border: 1px solid green*/
  position: relative;
/*top 0*/
  z-index: 10;
  width: 100%;
  background-color: rgba(255,255,0,0.3);
  overflow: hidden;
}
#show-room-container .showroom-spacer {
  background-color: rgba(255,255,255,0.5);
  position: relative;
  z-index: 100;
}
#show-room-viewport {
  float: left;
}
.sidebar-left-btn {
  background: url("/images/show-room-left-sidebar-btn-bg.png") no-repeat;
  position: relative;
  z-index: 100;
}
.sidebar-left-btn:hover:before {
  color: rgba(255,255,255,0.7);
}
.sidebar-left-btn:active:before {
  color: rgba(255,255,255,0.3);
  font-size: 104px;
  top: -8px;
}
.sidebar-left-btn:before {
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  content: "\f0d9";
  font-family: "FontAwesome";
  font-size: 108px;
  position: relative;
  top: -10px;
  text-align: center;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}
.sidebar-right-btn {
  background: url("/images/show-room-right-sidebar-btn-bg.png") no-repeat;
  position: relative;
  z-index: 100;
}
.sidebar-right-btn:hover:before {
  color: rgba(255,255,255,0.7);
}
.sidebar-right-btn:active:before {
  color: rgba(255,255,255,0.3);
  font-size: 104px;
  top: -8px;
}
.sidebar-right-btn:before {
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 108px;
  position: relative;
  top: -10px;
  text-align: center;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}
#show-room-left-sidebar {
  float: left;
  position: relative;
  z-index: 100;
}
#show-room-slide-viewport {
  float: left;
}
#show-room-right-sidebar {
  float: right;
  position: relative;
  z-index: 100;
}
#show-room-slides-container {
  overflow: visible;
  position: relative;
}
#show-room-slides-container .slide {
  overflow: hidden;
  position: absolute;
  top: 0;
}
#show-room-slides-container .slide .anim-slide-part-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#show-room-slides-container .slide .anim-slide-part-seal {
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 20;
}
#show-room-slides-container .slide .anim-slide-part-collection-logo {
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 20;
}
#show-room-slides-container .slide .anim-slide-part-sidebar-coins {
  position: absolute;
  top: 250px;
  left: 30px;
  z-index: 20;
}
#show-room-slides-container .slide .anim-slide-part-title {
  position: absolute;
  top: 180px;
  left: 180px;
  z-index: 20;
}
#show-room-slides-container .slide .anim-slide-part-abvers {
  position: absolute;
  top: 275px;
  left: 180px;
  z-index: 20;
}
#show-room-slides-container .slide .anim-slide-part-back-abvers {
  position: absolute;
  top: 265px;
  left: 200px;
  z-index: 19;
}
#show-room-slides-container .slide .anim-slide-part-details {
  position: absolute;
  top: 465px;
  left: 180px;
  z-index: 20;
}
#show-room-slides-container .slide .anim-slide-part-main-coin {
  position: absolute;
  top: 180px;
  left: 430px;
  z-index: 20;
}
#show-room-slides-container .slide .anim-slide-part-coin-title {
  position: absolute;
  top: 590px;
  left: 770px;
  z-index: 20;
}
#show-room-slides-container {
  overflow-x: visible;
  overflow-y: hidden;
}
#main-navbar-container {
  position: relative;
  z-index: 20;
/*transition margin-top 1s easeInOutQuint*/
  width: 100%;
  height: 108px;
  background: url("/images/white-space.png") repeat-x 0 53px, -webkit-linear-gradient(top, #ffbd01 0%, #ffd048);
  background: url("/images/white-space.png") repeat-x 0 53px, -moz-linear-gradient(top, #ffbd01 0%, #ffd048);
  background: url("/images/white-space.png") repeat-x 0 53px, -o-linear-gradient(top, #ffbd01 0%, #ffd048);
  background: url("/images/white-space.png") repeat-x 0 53px, -ms-linear-gradient(top, #ffbd01 0%, #ffd048);
  background: url("/images/white-space.png") repeat-x 0 53px, linear-gradient(to bottom, #ffbd01 0%, #ffd048);
}
.main-navbar-space {
  float: left;
  height: 108px;
  background: url("/images/white-space.png") repeat-x 0 53px;
}
#main-navbar {
  width: 990px;
  overflow: hidden;
  background: -webkit-linear-gradient(top, #ffbd01 0%, #ffd048);
  background: -moz-linear-gradient(top, #ffbd01 0%, #ffd048);
  background: -o-linear-gradient(top, #ffbd01 0%, #ffd048);
  background: -ms-linear-gradient(top, #ffbd01 0%, #ffd048);
  background: linear-gradient(to bottom, #ffbd01 0%, #ffd048);
}
#main-navbar-item-container {
  float: left;
  width: 590px;
}
#main-navbar-item-container .nav-item {
  float: left;
  height: 108px;
  width: 118px;
}
#main-navbar-item-container .nav-item a {
  color: #000;
  text-decoration: none;
  -webkit-transition: text-shadow linear 0.2s;
  -moz-transition: text-shadow linear 0.2s;
  -o-transition: text-shadow linear 0.2s;
  -ms-transition: text-shadow linear 0.2s;
  transition: text-shadow linear 0.2s;
}
#main-navbar-item-container .nav-item a:hover {
  text-shadow: rgba(255,255,255,0.99) 0px 2px 2px;
}
#main-navbar-item-container .nav-item .nav-item-title {
  height: 46px;
  font-size: 12pt;
  text-align: center;
}
#main-navbar-item-container .nav-item .nav-item-title a {
  outline: none !important;
}
#main-navbar-item-container .nav-item .upper-item {
  line-height: 70px;
}
#main-navbar-item-container .nav-item .lower-item {
  position: relative;
  top: 2px;
  height: 44px;
}
#main-navbar-item-container .nav-item .nav-item-active {
  font-weight: bold;
}
#main-navbar-item-container .nav-item .nav-item-spacer {
  height: 53px;
}
#main-navbar-item-container .nav-item .nav-item-line-up {
  width: 118px;
  height: 8px;
  background-color: #ffd048;
  background: url("/images/sprites.png") 0 -268px;
}
#main-navbar-item-container .nav-item .nav-item-line-down {
  width: 118px;
  height: 8px;
  background: url("/images/sprites.png") 0 -260px;
}
#main-navbar-logo {
  float: left;
  height: 108px;
  width: 160px;
  background: url("/images/jvpic-logo.png") no-repeat center center;
}
.main-navbar-shop-btn {
  float: left;
  height: 108px;
  width: 190px;
  background: url("/images/white-space.png") repeat-x 0 53px;
  overflow: hidden;
}
.main-navbar-shop-btn .btn-img {
  width: 171px;
  height: 118px;
  text-align: center;
}
.main-navbar-shop-btn .btn-img.btn-down {
  -webkit-transition: top linear 0.2s;
  -moz-transition: top linear 0.2s;
  -o-transition: top linear 0.2s;
  -ms-transition: top linear 0.2s;
  transition: top linear 0.2s;
  top: 15px;
  background: url("/images/sprites.png") 0 -118px;
}
.main-navbar-shop-btn .btn-img.btn-down:hover {
  top: 3px;
}
.main-navbar-shop-btn .btn-img.btn-up {
  -webkit-transition: top linear 0.2s;
  -moz-transition: top linear 0.2s;
  -o-transition: top linear 0.2s;
  -ms-transition: top linear 0.2s;
  transition: top linear 0.2s;
  top: -26px;
  background: url("/images/sprites.png") 0px 0px;
}
.main-navbar-shop-btn .btn-img.btn-up:hover {
  top: -12px;
}
.main-navbar-shop-btn .btn-img,
.main-navbar-shop-btn a {
  top: 30px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 500;
  text-decoration: none;
  position: relative;
  width: 171px;
  color: #434d56;
}
.main-navbar-shop-btn .btn-img i,
.main-navbar-shop-btn a i {
  font-size: 18px;
}
#jvpic-catalog-album-navbar-container {
  height: 92px;
  position: absolute;
  margin-top: -92px;
  width: 100%;
  z-index: 30;
}
#jvpic-catalog-album-navbar-container.affix {
  top: 0px;
  margin-top: 0px;
  position: fixed;
}
#jvpic-catalog-album {
  height: 90px;
  position: relative;
  display: table;
  width: 100%;
/*top 2px*/
  background-color: rgba(255,255,255,0.8);
}
#jvpic-catalog-album .left-spacer {
  height: inherit;
  display: table-cell;
}
#jvpic-catalog-album .left-spacer .filler {
  background: url("/images/album-bg.png") repeat-x 0 0;
  height: inherit;
}
#jvpic-catalog-album .right-spacer {
  height: inherit;
  display: table-cell;
}
#jvpic-catalog-album .right-spacer .filler {
  background: url("/images/album-bg.png") repeat-x 0 0;
  height: inherit;
}
#jvpic-catalog-album .content {
  height: inherit;
  width: 990px;
  background-color: transparent;
  display: table-cell;
  position: relative;
/*top -2px*/
}
#jvpic-catalog-album .content .title {
  float: left;
  font-size: 18pt;
  line-height: 20pt;
  width: 182px;
  height: 90px;
  text-align: center;
  font-weight: bold;
  color: #444e57;
  position: relative;
  padding-top: 12px;
  background: url("/images/album-bg.png") repeat-x 0 0;
  text-shadow: #fff 2px 2px 0px;
}
#jvpic-catalog-album .content .left-edge {
  float: left;
  width: 15px;
  height: 90px;
  background: url("/images/sprites.png") -20px -360px;
}
#jvpic-catalog-album .content .right-edge {
  position: relative;
  right: 12px;
  float: right;
  width: 15px;
  height: 90px;
  background: url("/images/sprites.png") 0px -360px;
}
#jvpic-catalog-album .content .spacer {
  width: 12px;
  height: 90px;
  position: relative;
  padding-top: 12px;
  background: url("/images/album-bg.png") repeat-x;
}
.choose-items-btn {
  float: left;
  position: relative;
  width: 189px;
  height: 90px;
  padding: 18px 0 0 40px !important;
  margin: 0 0 0 -8px;
  background: url("/images/sprites.png") -171px 0px;
  text-align: left;
  font-weight: bold;
  font-size: 13pt;
  text-decoration: none !important;
  text-shadow: #fff 1px 1px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #444e57;
  outline: none;
}
.choose-items-btn:focus {
  outline: none !important;
}
.choose-items-btn:hover {
  color: #196a62;
  text-decoration: none !important;
}
.choose-items-btn:visited {
  color: #444e57;
  text-decoration: none !important;
}
.choose-items-btn.active,
.choose-items-btn.active.disabled {
  text-shadow: #fff 1px 1px 0px;
  color: #007d6a;
  text-decoration: none !important;
}
.choose-items-btn.active:hover,
.choose-items-btn.active.disabled:hover {
  color: #00c2b6;
  text-decoration: none !important;
}
.choose-items-btn:active {
  text-shadow: #fff -1px -1px 0px;
  color: #366b66;
  text-decoration: none !important;
}
.choose-items-btn.disabled {
  color: #b3b3b3;
  text-decoration: none !important;
  text-shadow: #fff 0px 0px 0px;
  cursor: default;
}
.choose-items-btn:hover {
  background: url("/images/sprites.png") -171px -90px;
}
.choose-items-btn:active {
  background: url("/images/sprites.png") -171px -180px;
}
.choose-items-btn.active {
  background: url("/images/sprites.png") -171px -270px;
}
.choose-items-btn.active span {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.choose-items-btn.active:hover {
  background: url("/images/sprites.png") -171px -360px;
}
.choose-items-btn.active:hover:active {
  background: url("/images/sprites.png") -171px -180px;
}
.choose-items-btn span {
  border-top: 1px solid;
  font-size: 14px;
  margin-top: 4px;
  min-width: 128px;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
}
.view-selected-btn {
  float: left;
  position: relative;
  margin: 0 0 0 0;
  width: 84px;
  height: 90px;
  padding: 18px 0 0 0px !important;
  background: url("/images/sprites.png") -360px 0px;
  text-align: left;
  font-weight: bold;
  font-size: 13pt;
  text-decoration: none !important;
  text-shadow: #fff 1px 1px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #444e57;
  outline: none;
}
.view-selected-btn:focus {
  outline: none !important;
}
.view-selected-btn:hover {
  color: #196a62;
  text-decoration: none !important;
}
.view-selected-btn:visited {
  color: #444e57;
  text-decoration: none !important;
}
.view-selected-btn.active,
.view-selected-btn.active.disabled {
  text-shadow: #fff 1px 1px 0px;
  color: #007d6a;
  text-decoration: none !important;
}
.view-selected-btn.active:hover,
.view-selected-btn.active.disabled:hover {
  color: #00c2b6;
  text-decoration: none !important;
}
.view-selected-btn:active {
  text-shadow: #fff -1px -1px 0px;
  color: #366b66;
  text-decoration: none !important;
}
.view-selected-btn.disabled {
  color: #b3b3b3;
  text-decoration: none !important;
  text-shadow: #fff 0px 0px 0px;
  cursor: default;
}
.view-selected-btn:hover {
  background: url("/images/sprites.png") -360px -90px;
}
.view-selected-btn:hover.disabled {
  background: url("/images/sprites.png") -360px 0px;
}
.view-selected-btn:active {
  background: url("/images/sprites.png") -360px -180px;
}
.view-selected-btn:active.disabled {
  background: url("/images/sprites.png") -360px 0px;
}
.view-selected-btn.active {
  background: url("/images/sprites.png") -360px -270px;
}
.view-selected-btn.active:hover {
  background: url("/images/sprites.png") -360px -360px;
}
.view-selected-btn.active:hover:active {
  background: url("/images/sprites.png") -360px -180px;
}
.view-selected-btn.active:hover:active.disabled {
  background: url("/images/sprites.png") -360px 0px;
}
.view-selected-btn .view-selected-btn-content {
  text-align: center;
  position: relative;
  line-height: 17px;
  top: -4px;
  left: -5px;
  font-size: 14px;
}
.view-selected-btn .view-selected-btn-content i {
  font-size: 24px;
}
.refine-selection-btn {
  float: left;
  position: relative;
  margin: 0 0 0 -18px;
  width: 273px;
  height: 90px;
  padding: 18px 0 0 59px !important;
  background: url("/images/sprites.png") -444px 0px;
  text-align: left;
  font-weight: bold;
  font-size: 13pt;
  text-decoration: none !important;
  text-shadow: #fff 1px 1px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #444e57;
  outline: none;
}
.refine-selection-btn:focus {
  outline: none !important;
}
.refine-selection-btn:hover {
  color: #196a62;
  text-decoration: none !important;
}
.refine-selection-btn:visited {
  color: #444e57;
  text-decoration: none !important;
}
.refine-selection-btn.active,
.refine-selection-btn.active.disabled {
  text-shadow: #fff 1px 1px 0px;
  color: #007d6a;
  text-decoration: none !important;
}
.refine-selection-btn.active:hover,
.refine-selection-btn.active.disabled:hover {
  color: #00c2b6;
  text-decoration: none !important;
}
.refine-selection-btn:active {
  text-shadow: #fff -1px -1px 0px;
  color: #366b66;
  text-decoration: none !important;
}
.refine-selection-btn.disabled {
  color: #b3b3b3;
  text-decoration: none !important;
  text-shadow: #fff 0px 0px 0px;
  cursor: default;
}
.refine-selection-btn:hover {
  background: url("/images/sprites.png") -444px -90px;
}
.refine-selection-btn:active {
  background: url("/images/sprites.png") -444px -180px;
}
.refine-selection-btn.active,
.refine-selection-btn.active.disabled {
  background: url("/images/sprites.png") -444px -270px;
}
.refine-selection-btn.active span,
.refine-selection-btn.active.disabled span {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.refine-selection-btn.disabled {
  background: url("/images/sprites.png") -444px 0px;
}
.refine-selection-btn span {
  border-top: 1px solid;
  font-size: 14px;
  margin-top: 4px;
  min-width: 128px;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
}
.send-request-btn {
  float: left;
  position: relative;
  margin: 0 0 0 -18px;
  width: 273px;
  height: 90px;
  padding: 18px 0 0 45px !important;
  background: url("/images/sprites.png") -444px 0px;
  text-align: left;
  font-weight: bold;
  font-size: 13pt;
  text-decoration: none !important;
  text-shadow: #fff 1px 1px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #444e57;
  outline: none;
}
.send-request-btn:focus {
  outline: none !important;
}
.send-request-btn:hover {
  color: #196a62;
  text-decoration: none !important;
}
.send-request-btn:visited {
  color: #444e57;
  text-decoration: none !important;
}
.send-request-btn.active,
.send-request-btn.active.disabled {
  text-shadow: #fff 1px 1px 0px;
  color: #007d6a;
  text-decoration: none !important;
}
.send-request-btn.active:hover,
.send-request-btn.active.disabled:hover {
  color: #00c2b6;
  text-decoration: none !important;
}
.send-request-btn:active {
  text-shadow: #fff -1px -1px 0px;
  color: #366b66;
  text-decoration: none !important;
}
.send-request-btn.disabled {
  color: #b3b3b3;
  text-decoration: none !important;
  text-shadow: #fff 0px 0px 0px;
  cursor: default;
}
.send-request-btn:hover {
  background: url("/images/sprites.png") -444px -90px;
}
.send-request-btn:active {
  background: url("/images/sprites.png") -444px -180px;
}
.send-request-btn.active {
  background: url("/images/sprites.png") -444px -270px;
}
.send-request-btn.disabled {
  background: url("/images/sprites.png") -444px 0px;
}
.send-request-btn span {
  border-top: 1px solid;
  font-size: 14px;
  margin-top: 4px;
  min-width: 128px;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
}
.send-request-btn span {
  left: 45px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#jvpic-catalog-sidebar-container {
  display: table-cell;
  vertical-align: top;
  width: 180px;
}
#jvpic-catalog-sidebar-container .back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  width: inherit;
  text-align: center;
}
#jvpic-catalog-sidebar-container .back-to-top-btn:hover:before {
  color: rgba(0,0,0,0.4);
}
#jvpic-catalog-sidebar-container .back-to-top-btn:before {
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  -ms-transition: color linear 0.2s;
  transition: color linear 0.2s;
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  content: "\f151";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
}
#jvpic-catalog-sidebar {
  display: table-cell;
  vertical-align: top;
  color: #444e57;
  width: inherit;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#jvpic-catalog-sidebar.chrome:after {
  margin-left: -90px;
}
#jvpic-catalog-sidebar.covered:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
  background-color: rgba(255,255,255,0.7);
  display: inline-block;
  content: "";
  z-index: 28;
}
#jvpic-catalog-sidebar.affix {
  display: fixed;
  top: 86px;
}
#jvpic-catalog-sidebar legend {
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0;
}
#jvpic-catalog-sidebar .header {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #f6f6f7;
  border: 1px solid #ddd;
}
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container {
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: table;
}
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container .current-filter-item {
  cursor: default;
  margin: 2px;
  padding: 3px;
  float: left;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #00aa8e;
  background-color: #007d6a;
  color: #fff;
  font-size: 10px;
}
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container .current-filter-item .close {
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 14px;
  margin-left: 2px;
}
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container .current-filter-item .close:hover,
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container .current-filter-item .close:focus {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#jvpic-catalog-sidebar .header .btn-group {
  padding: 10px 0;
}
#jvpic-catalog-sidebar .accordion-toggle {
  width: 140px;
}
#jvpic-catalog-sidebar-accordion .panel-heading label {
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  line-height: 23px !important;
  vertical-align: middle;
}
#jvpic-catalog-sidebar-accordion .panel-heading label.half {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.panel-group {
  background-color: transparent;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.panel-group .panel {
  background-color: #b3b3b3;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.panel-group.disabled .panel-heading {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.panel-group .panel-heading {
  height: 23px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-linear-gradient(top, #dcdedf 0%, #f6f6f7 60%);
  background: -moz-linear-gradient(top, #dcdedf 0%, #f6f6f7 60%);
  background: -o-linear-gradient(top, #dcdedf 0%, #f6f6f7 60%);
  background: -ms-linear-gradient(top, #dcdedf 0%, #f6f6f7 60%);
  background: linear-gradient(to bottom, #dcdedf 0%, #f6f6f7 60%);
  padding: 0 9px !important;
/*checkbox-fa($font-height, $line-height, 2px,2px,-2px)*/
/*
    label
      color  $accordion-group-title-active-color
      float left
    */
}
.panel-group .panel-heading input[type=checkbox] {
  display: none;
}
.panel-group .panel-heading input[type=checkbox] + label i[class*="fa-"] {
  margin-right: 0px;
  width: 18px;
  top: 4px;
  left: 0px;
  position: relative;
}
.panel-group .panel-heading input[type=checkbox] + label i.fa-check-square-o {
  left: 0px;
}
.panel-group .panel-heading.collapsed {
  background: -webkit-linear-gradient(bottom, #dcdedf 0%, #f6f6f7 60%);
  background: -moz-linear-gradient(bottom, #dcdedf 0%, #f6f6f7 60%);
  background: -o-linear-gradient(bottom, #dcdedf 0%, #f6f6f7 60%);
  background: -ms-linear-gradient(bottom, #dcdedf 0%, #f6f6f7 60%);
  background: linear-gradient(to top, #dcdedf 0%, #f6f6f7 60%);
}
.panel-group .panel-heading.collapsed a,
.panel-group .panel-heading.collapsed label {
  color: #004d45;
}
.panel-group .panel-heading a,
.panel-group .panel-heading label {
  float: left;
  font-size: 15px;
  line-height: 23px;
  font-weight: bold;
  color: #007d6a;
  text-decoration: none;
  padding: 0 !important;
  position: relative;
  top: 0px;
  vertical-align: middle;
}
.panel-group .panel-heading .icon-caret-right,
.panel-group .panel-heading .icon-caret-down {
  position: relative;
  top: 3px;
  font-size: 16px;
}
.panel-group .panel-heading .group-check {
  margin-right: 5px;
}
.panel-group .panel-body {
  padding: 9px !important;
  background: -webkit-linear-gradient(top, #b3b3b3 0%, #f6f6f6 50px);
  background: -moz-linear-gradient(top, #b3b3b3 0%, #f6f6f6 50px);
  background: -o-linear-gradient(top, #b3b3b3 0%, #f6f6f6 50px);
  background: -ms-linear-gradient(top, #b3b3b3 0%, #f6f6f6 50px);
  background: linear-gradient(to bottom, #b3b3b3 0%, #f6f6f6 50px);
  border-top: none !important;
  line-height: 17px;
}
.panel-group .panel-body input[type=checkbox] {
  display: none;
}
.panel-group .panel-body input[type=checkbox] + label i[class*="fa-"] {
  margin-right: 0px;
  width: 18px;
  top: 4px;
  left: 0px;
  position: relative;
}
.panel-group .panel-body input[type=checkbox] + label i.fa-check-square-o {
  left: 0px;
}
.panel-group .panel-body label {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}
.filter-slider {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  height: 18px;
}
.filter-slider.ui-corner-all {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.filter-slider.ui-widget-content {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  background-color: #a1a6ab;
}
.filter-slider.ui-slider {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  position: relative;
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
}
.filter-slider.ui-slider.ui-slider-disabled {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.filter-slider.ui-slider .ui-slider-range {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  background-position: 0 0;
  display: block;
  font-size: 0.7em;
  position: absolute;
  z-index: 1;
  height: 18px;
  top: 0;
  background-color: #697178;
  color: #fff;
  font-weight: bold;
}
.filter-slider.ui-slider .ui-slider-handle {
  outline: none;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin-left: -0.6em;
  top: -2px;
  cursor: pointer;
  height: 6px;
  position: absolute;
  width: 6px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 2;
  border: 8px solid #c8a65e;
  background-color: #fff;
  -webkit-transition: border-color linear 0.2s;
  -moz-transition: border-color linear 0.2s;
  -o-transition: border-color linear 0.2s;
  -ms-transition: border-color linear 0.2s;
  transition: border-color linear 0.2s;
  -webkit-transition: background-color linear 0.2s;
  -moz-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  -ms-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.filter-slider.ui-slider .ui-slider-handle:hover {
  border-color: #ffbd00;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.filter-slider.ui-slider .ui-slider-handle.ui-state-active {
  background-color: #697178;
  -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}
.filter-slider.ui-slider a {
  text-decoration: none;
}
.amount-min,
.amount-max {
  font-size: 10px;
  font-weight: bold;
  color: #444e57;
}
#jvpic-catalog-item-modal .modal-dialog {
  top: 21px !important;
  width: 920px;
  margin-left: -460px !important;
  left: 50% !important;
  border-color: #000;
}
#jvpic-catalog-item-modal .modal-header {
  display: table;
  width: 100%;
  height: 85px;
  padding: 0 !important;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background: -webkit-linear-gradient(top, #ffc41d 0%, #ffc931 3.16%, #ffc622 100%);
  background: -moz-linear-gradient(top, #ffc41d 0%, #ffc931 3.16%, #ffc622 100%);
  background: -o-linear-gradient(top, #ffc41d 0%, #ffc931 3.16%, #ffc622 100%);
  background: -ms-linear-gradient(top, #ffc41d 0%, #ffc931 3.16%, #ffc622 100%);
  background: linear-gradient(to bottom, #ffc41d 0%, #ffc931 3.16%, #ffc622 100%);
}
#jvpic-catalog-item-modal .modal-header .nav-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#jvpic-catalog-item-modal .modal-header .nav {
  display: block;
  width: 280px;
  border-bottom: none !important;
  position: relative;
  left: 320px;
}
#jvpic-catalog-item-modal .modal-header .nav li {
  margin: 0 !important;
}
#jvpic-catalog-item-modal .modal-header .nav li.active a {
  background-color: transparent;
}
#jvpic-catalog-item-modal .modal-header .nav li.active a [class^="fa-"],
#jvpic-catalog-item-modal .modal-header .nav li.active a [class*=" fa-"] {
  color: #fff;
  font-size: 40px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 10px;
}
#jvpic-catalog-item-modal .modal-header .nav a {
  text-align: center;
  width: 70px;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  position: relative;
}
#jvpic-catalog-item-modal .modal-header .nav a:hover {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background-color: transparent !important;
}
#jvpic-catalog-item-modal .modal-header .nav a:hover [class^="fa-"],
#jvpic-catalog-item-modal .modal-header .nav a:hover [class*=" fa-"] {
  color: #fff;
  font-size: 40px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 10px;
}
#jvpic-catalog-item-modal .modal-header .nav a:active [class^="fa-"],
#jvpic-catalog-item-modal .modal-header .nav a:active [class*=" fa-"] {
  font-size: 33px;
  top: 10px;
}
#jvpic-catalog-item-modal .modal-header .nav a [class^="fa-"],
#jvpic-catalog-item-modal .modal-header .nav a [class*=" fa-"] {
  color: #fff;
  font-size: 26px;
  line-height: 40px;
  position: relative;
  top: 12px;
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  -webkit-transition: top linear 0.2s;
  -moz-transition: top linear 0.2s;
  -o-transition: top linear 0.2s;
  -ms-transition: top linear 0.2s;
  transition: top linear 0.2s;
  -webkit-transition: font-size linear 0.2s;
  -moz-transition: font-size linear 0.2s;
  -o-transition: font-size linear 0.2s;
  -ms-transition: font-size linear 0.2s;
  transition: font-size linear 0.2s;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
#jvpic-catalog-item-modal .modal-header .nav a:hover,
#jvpic-catalog-item-modal .modal-header .nav a:focus {
  border: none !important;
}
#jvpic-catalog-item-modal .modal-header .nav a span {
  font-size: 12px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #000;
}
#jvpic-catalog-item-modal .modal-header .close {
  padding: 0 9px 0 0;
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  font-size: 50px;
  color: #c1272d;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
#jvpic-catalog-item-modal .modal-header .close:hover,
#jvpic-catalog-item-modal .modal-header .close:focus {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#jvpic-catalog-item-modal .modal-body {
  padding: 0 !important;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header {
  padding-top: 8px;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-collection {
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background-color: #f2f2f2;
  width: 300px;
  height: 80px;
  display: table-cell;
  vertical-align: middle;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-collection .logo {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: inherit;
  width: inherit;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-collection .title {
  font-size: 12px;
  color: #999;
  position: relative;
  bottom: 20px;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-title {
  display: table-cell;
  -webkit-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  width: 613px;
  height: 80px;
  padding-left: 30px;
  vertical-align: middle;
  text-align: left;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-title .first-line {
  color: #000;
  font-size: 24px;
  line-height: 26px;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-title .second-line {
  color: #999;
  font-size: 18px;
  line-height: 22px;
}
#jvpic-catalog-item-modal .modal-body .item-modal-body {
  min-height: 535px;
}
.item-modal-spacer {
  display: table-cell;
  width: 7px;
}
#jvpic-item-modal-tab-info {
  position: relative;
}
#jvpic-item-modal-tab-info .sidebar {
  width: 300px;
  min-height: 335px;
  position: relative;
}
#jvpic-item-modal-tab-info .sidebar:hover .bookmark:before {
  display: block;
}
#jvpic-item-modal-tab-info .sidebar .bookmark {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 19px;
}
#jvpic-item-modal-tab-info .sidebar .bookmark:before {
  color: #aaa;
  content: "\f097";
  display: none;
}
#jvpic-item-modal-tab-info .sidebar .bookmark:hover:before {
  color: #00aa8e;
  content: "\f097";
  display: block;
}
#jvpic-item-modal-tab-info .sidebar .bookmark[data-bookmarked="true"]:before {
  color: #007d6a;
  content: "\f02e";
  display: block !important;
}
#jvpic-item-modal-tab-info .sidebar .bookmark.active:before {
  font-family: FontAwesome;
  color: #aaa;
  content: "\f097";
  display: block;
}
#jvpic-item-modal-tab-info .sidebar .bookmark.active:hover:before {
  color: #00aa8e;
}
#jvpic-item-modal-tab-info .sidebar .bookmark.active[data-bookmarked="true"]:before {
  color: #007d6a;
  content: "\f02e";
}
#jvpic-item-modal-tab-info .sidebar .bookmark.disabled:before {
  color: #d3d3d3;
  content: "\f02e";
}
#jvpic-item-modal-tab-info .sidebar .bookmark {
  left: 10px;
  z-index: 1050;
}
#jvpic-item-modal-tab-info .sidebar .images {
  width: inherit;
  position: relative;
  text-align: center;
}
#jvpic-item-modal-tab-info .sidebar .images img {
  position: relative;
}
#jvpic-item-modal-tab-info .sidebar .details {
  width: inherit;
}
#jvpic-item-modal-tab-info .sidebar .details dl {
  margin-bottom: 20px;
  margin-top: 20px;
}
#jvpic-item-modal-tab-info .sidebar .details dt,
#jvpic-item-modal-tab-info .sidebar .details dd {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
#jvpic-item-modal-tab-info .sidebar .details dt {
  width: 50%;
}
#jvpic-item-modal-tab-info .sidebar .details dd {
  text-align: left;
  width: 50%;
  margin-left: 55%;
}
#jvpic-item-modal-tab-info .content {
  width: 612px;
/*height: $modal-body-height*/
}
#jvpic-item-modal-tab-info .content p {
  text-align: justify;
  margin: 0;
  padding: 0 30px 20px 30px;
  background-color: transparent;
  border: none;
  font: 16px "Open Sans", Arial;
  line-height: 20px;
  color: #333;
}
#jvpic-item-modal-tab-info .tab-info-footer {
  height: 135px;
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads {
  display: table-cell;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background-color: #f2f2f2;
  vertical-align: middle;
  width: 300px;
  height: inherit;
/*padding: 10px 0 10px 0*/
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a {
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
  display: block;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a img {
  margin-right: 10px;
  height: 18px;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a span {
  display: inline-block;
  font: 14px "Open Sans", Arial;
  line-height: 18px;
  vertical-align: middle;
  color: #000;
  width: 120px;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a i {
  font-size: 14px;
  color: #08c;
  line-height: 18px;
  vertical-align: middle;
  -webkit-transition: font-size linear 0.2s;
  -moz-transition: font-size linear 0.2s;
  -o-transition: font-size linear 0.2s;
  -ms-transition: font-size linear 0.2s;
  transition: font-size linear 0.2s;
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a:hover i {
  font-size: 16px   filter: none;;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a:active i {
  font-size: 14px   filter: alpha(opacity=80);;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: 613px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .details-container:hover .bookmark:before {
  display: block;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .details-container .bookmark {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 19px;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .details-container .bookmark:before {
  color: #aaa;
  content: "\f097";
  display: none;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .details-container .bookmark:hover:before {
  color: #00aa8e;
  content: "\f097";
  display: block;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .details-container .bookmark[data-bookmarked="true"]:before {
  color: #007d6a;
  content: "\f02e";
  display: block !important;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .details-container .bookmark.active:before {
  font-family: FontAwesome;
  color: #aaa;
  content: "\f097";
  display: block;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .details-container .bookmark.active:hover:before {
  color: #00aa8e;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .details-container .bookmark.active[data-bookmarked="true"]:before {
  color: #007d6a;
  content: "\f02e";
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .details-container .bookmark.disabled:before {
  color: #d3d3d3;
  content: "\f02e";
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .image-container {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  height: 120px;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .image-container img {
  max-width: 100px;
  max-height: 100px;
}
#jvpic-item-modal-tab-rotate {
  height: 535px;
}
#jvpic-item-modal-tab-rotate>div {
  position: relative;
  top: 95px;
}
#jvpic-item-modal-tab-images {
  height: 535px;
}
#jvpic-item-modal-tab-images .image-viewer {
  height: 455px;
  padding: 10px 0 20px 0;
  position: relative;
}
#jvpic-item-modal-tab-images .image-viewer img {
  height: 425px;
  cursor: pointer;
}
#jvpic-item-modal-tab-images .image-viewer .download-original-image-link {
  position: absolute;
  bottom: 20px;
  font-size: 40px;
  text-decoration: none;
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  -webkit-transition: font-size linear 0.2s;
  -moz-transition: font-size linear 0.2s;
  -o-transition: font-size linear 0.2s;
  -ms-transition: font-size linear 0.2s;
  transition: font-size linear 0.2s;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
#jvpic-item-modal-tab-images .image-viewer .download-original-image-link:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  font-size: 43px;
}
#jvpic-item-modal-tab-images .image-viewer .download-original-image-link:active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  font-size: 40px;
}
#jvpic-item-modal-tab-images .images-thumbnails {
  height: 80px;
  padding: 0;
}
#jvpic-item-modal-tab-images .images-thumbnails img {
  height: 70px;
  border: 3px solid rgba(68,68,68,0.1);
  padding: 5px;
  -webkit-transition: border-color linear 0.2s;
  -moz-transition: border-color linear 0.2s;
  -o-transition: border-color linear 0.2s;
  -ms-transition: border-color linear 0.2s;
  transition: border-color linear 0.2s;
  margin-right: 20px;
}
#jvpic-item-modal-tab-images .images-thumbnails img:hover,
#jvpic-item-modal-tab-images .images-thumbnails img.active {
  border-color: #ffbc00;
  cursor: pointer;
}
#jvpic-item-modal-tab-images .images-thumbnails img:last-child {
  margin-right: 0;
}
#jvpic-item-modal-tab-video {
  padding-top: 22.5px;
}
#jvpic-item-modal-tab-video .no-video {
  width: 853px;
  height: 480px;
  line-height: 480px;
  vertical-align: middle;
  border: 5px solid rgba(170,170,170,0.3);
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 3px 20px rgba(153,153,153,0.8) inset;
  box-shadow: 0px 0px 3px 20px rgba(153,153,153,0.8) inset;
  color: #555;
}
#jvpic-catalog-guide .modal-dialog {
  top: -20px !important;
  width: 811px;
  margin-left: -405.5px !important;
  left: 50% !important;
}
#jvpic-catalog-guide .modal-dialog .modal-content .modal-body {
  padding: 20px 0px;
}
#jvpic-catalog-guide .modal-dialog .modal-content .modal-footer {
  text-align: center;
}
#jvpic-guide-btn-open {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 20;
}
#jvpic-guide-btn-open:hover:before {
  color: rgba(0,211,176,0.4);
}
#jvpic-guide-btn-open:before {
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  -ms-transition: color linear 0.2s;
  transition: color linear 0.2s;
  cursor: pointer;
  color: rgba(0,211,176,0.2);
  content: "\f059";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
}
.guide-section {
  display: block;
  position: absolute;
  font-family: MyriadPro-Regular;
}
.guide-section p {
  font-size: inherit;
}
.guide-panel {
  display: table-cell;
  width: 100%;
  height: 90px;
  vertical-align: middle;
  text-align: center;
  background: -webkit-radial-gradient(#f8bd79, #f49a33);
  background: -moz-radial-gradient(#f8bd79, #f49a33);
  background: -o-radial-gradient(#f8bd79, #f49a33);
  background: -ms-radial-gradient(#f8bd79, #f49a33);
  background: radial-gradient(#f8bd79, #f49a33);
  color: #f5f5f5;
  font-family: MyriadPro-Regular;
  font-size: 18pt;
  text-shadow: 1px 1px 2px #a85e09;
}
#jvpic-catalog-container {
  display: none;
  position: relative;
}
#jvpic-catalog-content-container {
  width: 990px;
  display: table;
  margin-top: 92px;
}
#jvpic-catalog-tabs-container {
  display: table-cell;
  width: 810px;
  min-height: 600px;
}
.items-row {
/*background url("/images/dotted.png") repeat-x 0 bottom*/
  padding-bottom: 4px;
  height: 170px;
  display: table;
  width: 100%;
}
.items-row .refine-item {
  cursor: pointer;
}
.items-row .refine-item:first-child {
  background: url("/images/dotted-vertical.png") repeat-y right 0;
}
.catalog-item {
  width: 170px;
  height: 170px;
  float: left;
  overflow: hidden;
  position: relative;
  margin-left: 30.5px;
  cursor: pointer;
}
.catalog-item:hover,
.catalog-item.hover {
  overflow: visible;
}
.catalog-item:hover .details-container,
.catalog-item.hover .details-container {
  border: 1px solid #d2d2d2;
  z-index: 25;
}
.catalog-item .details-container {
  position: relative;
  width: 170px;
  background-color: rgba(255,255,255,0.85);
  cursor: default;
  overflow: hidden;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 20;
  border: 1px solid transparent;
}
.catalog-item .details-container:hover .bookmark:before {
  display: block;
}
.catalog-item .details-container .bookmark {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 19px;
}
.catalog-item .details-container .bookmark:before {
  color: #aaa;
  content: "\f097";
  display: none;
}
.catalog-item .details-container .bookmark:hover:before {
  color: #00aa8e;
  content: "\f097";
  display: block;
}
.catalog-item .details-container .bookmark[data-bookmarked="true"]:before {
  color: #007d6a;
  content: "\f02e";
  display: block !important;
}
.catalog-item .details-container .bookmark.active:before {
  font-family: FontAwesome;
  color: #aaa;
  content: "\f097";
  display: block;
}
.catalog-item .details-container .bookmark.active:hover:before {
  color: #00aa8e;
}
.catalog-item .details-container .bookmark.active[data-bookmarked="true"]:before {
  color: #007d6a;
  content: "\f02e";
}
.catalog-item .details-container .bookmark.disabled:before {
  color: #d3d3d3;
  content: "\f02e";
}
.catalog-item .details-container a {
  outline: none;
}
.catalog-item .details-container .image-container {
  width: 170px;
  height: 170px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}
.catalog-item .details-container .image-container img {
  max-height: 160px;
  max-width: 160px;
}
.catalog-item .details-container ul {
  position: relative;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  left: 5px;
  list-style: none;
  width: 90%;
  padding: 0px;
}
.catalog-item .details-container ul .catalog-item-collection {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  line-height: 22px;
}
.catalog-item .details-container ul .catalog-item-collection img {
  max-width: 153px;
}
.catalog-item .details-container ul .catalog-item-group {
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
}
.catalog-item .details-container ul .catalog-item-title {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
}
.catalog-item .details-container ul .catalog-item-other {
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
}
.catalog-item .details-container ul li {
  text-align: center;
}
.catalog-item .preorder-info {
  position: absolute;
  bottom: 9px;
  right: 9px;
  width: 16px;
  height: 16px;
}
.catalog-item .preorder-info a {
  text-decoration: none;
}
.catalog-item .preorder-info a:before {
  font-family: "FontAwesome";
  content: "\f06a";
  font-size: 16px;
  color: #f7931e;
  font-style: bold;
}
.refine-item {
  float: left;
  width: 385px;
  height: 170px;
  position: relative;
  margin-left: 18px;
}
.refine-item .image-container {
  float: left;
  padding-top: 5px;
  width: 170px;
  height: 170px;
}
.refine-item .image-container img {
  max-height: 160px;
  max-width: 160px;
}
.refine-item .details-container {
  float: left;
  height: 170px;
  width: 205px;
  position: relative;
  padding: 5px;
}
.refine-item .details-container:hover .bookmark:before {
  display: block;
}
.refine-item .details-container .bookmark {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 19px;
}
.refine-item .details-container .bookmark:before {
  color: #aaa;
  content: "\f097";
  display: none;
}
.refine-item .details-container .bookmark:hover:before {
  color: #00aa8e;
  content: "\f097";
  display: block;
}
.refine-item .details-container .bookmark[data-bookmarked="true"]:before {
  color: #007d6a;
  content: "\f02e";
  display: block !important;
}
.refine-item .details-container .bookmark.active:before {
  font-family: FontAwesome;
  color: #aaa;
  content: "\f097";
  display: block;
}
.refine-item .details-container .bookmark.active:hover:before {
  color: #00aa8e;
}
.refine-item .details-container .bookmark.active[data-bookmarked="true"]:before {
  color: #007d6a;
  content: "\f02e";
}
.refine-item .details-container .bookmark.disabled:before {
  color: #d3d3d3;
  content: "\f02e";
}
.refine-item .details-container table {
  width: 100%;
  height: 100%;
  text-align: left;
}
.refine-item .details-container .collection {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}
.refine-item .details-container .group {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4d4d4d;
}
.refine-item .details-container .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #005951;
}
.refine-item .details-container .details {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #666;
}
.refine-item .preorder-info {
  float: right;
  position: relative;
  bottom: -10px;
  right: 3px;
  height: 10px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #f7931e;
  padding: 0px 3px 8px;
}
.refine-item .preorder-info a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: -4px;
}
.refine-item .preorder-info a:before {
  font-family: "FontAwesome";
  content: "\f06a";
  font-size: 14px;
  color: #fff;
  padding-right: 3px;
}
.refine-item .request-quantity {
  color: #666;
  font-size: 14px;
/*span
      position  relative
      bottom 4px
    */
}
.refine-item .request-quantity .request-quantity-input {
  width: 50px;
  text-align: center;
}
#jvpic-catalog-request-form {
  text-align: left;
  margin-left: 20px;
  width: 762px;
}
#jvpic-catalog-request-form input[type=checkbox] {
  display: none;
}
#jvpic-catalog-request-form input[type=checkbox] + label i[class*="fa-"] {
  margin-right: 0px;
  width: 18px;
  top: 4px;
  left: 0px;
  position: relative;
}
#jvpic-catalog-request-form input[type=checkbox] + label i.fa-check-square-o {
  left: 0px;
}
#jvpic-catalog-request-form .info {
  width: 300px;
  height: 200px;
  background-color: #fff5d8;
  overflow: hidden;
}
#jvpic-catalog-request-form .info p {
  font-size: 14px;
}
#jvpic-catalog-request-form .request-total {
  font-size: 16px;
}
#jvpic-catalog-request-form .request-total .request-label {
  color: #444e57;
  display: block;
  float: left;
  width: 180px;
  text-align: right;
}
#jvpic-catalog-request-form .request-total .request-items-count,
#jvpic-catalog-request-form .request-total .request-coins-count {
  color: #007d6a;
  font-weight: bold;
}
.no-pointer {
  cursor: default !important;
}
.modal-backdrop {
  background-color: #fff;
}
.modal-backdrop.in {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
#jvpic-catalog-tabs-choose {
  margin-bottom: 150px;
}
.page-container {
  position: relative;
}
.page-container .page-header-container {
  height: 90px;
  position: relative;
  padding-top: 6px;
  display: table;
  width: 100%;
  border-spacing: 0px;
}
.page-container .page-header-container .left-spacer {
  height: inherit;
  display: table-cell;
}
.page-container .page-header-container .left-spacer .filler {
  margin-right: 8px;
  background: url("/images/album-bg.png") repeat-x 0 -2px;
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  height: inherit;
}
.page-container .page-header-container .right-spacer {
  height: inherit;
  display: table-cell;
}
.page-container .page-header-container .right-spacer .filler {
  height: inherit;
  margin-left: 8px;
  background: url("/images/album-bg.png") repeat-x 0 -2px;
  -webkit-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
}
.page-container .page-header-container .content {
  height: inherit;
  width: 990px;
  display: table-cell;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background: url("/images/album-bg.png") repeat-x 0 -2px;
}
.page-container .page-content {
  width: 990px;
  background-color: #fff;
  margin: 20px 0px;
}
.page-container .page-content .inherit-width {
  width: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16pt;
  color: #000;
  overflow-y: scroll;
}
#main-content {
  position: relative;
  z-index: 20;
  background-color: #fff;
}
.main-footer-container {
  background-color: #fc0;
  height: 20px;
  width: 100%;
  position: relative;
  z-index: 20;
}
.main-footer {
  width: 990px;
  display: table-cell;
  vertical-align: middle;
  height: 20px;
  background-color: #fc0;
  font-size: 10px;
}
.main-footer .terms {
  float: left;
  margin-left: 20px;
}
.main-footer .developer {
  float: right;
  margin-right: 20px;
}
.help-inline {
  font-size: 14px;
}
.alert {
  margin-bottom: 3px !important;
  padding: 4px 35px 4px 8px !important;
  font-size: 14px;
  text-align: center;
}
.form-errors {
  margin-bottom: 20px;
}
#modal-alert .back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  z-index: 1000;
}
#modal-alert .alert {
  text-align: center;
  position: absolute;
  z-index: 1001;
  font-size: 14pt;
  width: 400px;
  color: #000;
  padding: 30px !important;
  border: 1px solid #999;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 8px 2px rgba(111,76,51,0.3);
  box-shadow: 0 3px 8px 2px rgba(111,76,51,0.3);
}
#modal-alert .alert.no-back {
  color: rgba(0,0,0,0.6);
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.modal-body {
  max-height: none;
}
