@import "nib"

@import "/js/libs/bootstrap/css/bootstrap.css"
@import "/js/libs/jquery/plugins/fancybox/jquery.fancybox.css"
@import "/js/libs/font-awesome/css/font-awesome.css"


@import "/mixins/mixins"
@import "/mixins/fonts"
@import "/mixins/bootstrap-overrides"

h2
  font-size 18pt

h3
  font-size 16pt

p
  text-align justify
  font-size 14pt

.no-padding
  padding 0 !important
.no-margin
  margin 0 !important

.mt10
  margin-top 10px !important

.padding-10
  padding 10px !important

.no-style
  list-style-type none

