#jvpic-catalog-album-navbar-container
  height $catalog-navbar-height + 2
  position absolute
  margin-top -($catalog-navbar-height + 2)
  width 100%
  z-index $catalog-album-nav-z-index

  &.affix
    top 0px
    margin-top 0px
    position: fixed

#jvpic-catalog-album
  $bg-gradien-top-color= rgb(242,242,242)
  $bg-gradien-bottom-color= rgb(217,217,217)

  height $catalog-navbar-height
  position relative
  display table
  width 100%
  /*top 2px*/
  background-color rgba(white,0.8)

  // background(linear-gradient(bottom, $bg-gradien-bottom-color 0%, $bg-gradien-top-color 60% ))


  .left-spacer
    height inherit
    display table-cell
    .filler
      background url('/images/album-bg.png') repeat-x 0 0
      height inherit

  .right-spacer
    height inherit
    display table-cell
    .filler
      background url('/images/album-bg.png') repeat-x 0 0
      height inherit


  .content
    height inherit
    width $content-width
    background-color  transparent
    display table-cell
    position relative
    /*top -2px*/

    .title
      $padding-top = 12px

      float left
      font-size  18pt
      line-height  20pt
      width  $catalog-navbar-title-width
      height  ($catalog-navbar-height)
      text-align  center
      font-weight  bold
      color  $catalog-navbar-title-color
      position  relative
      padding-top  $padding-top
      // background(linear-gradient(bottom, $bg-gradien-bottom-color 0%, $bg-gradien-top-color 60% ))
      background url('/images/album-bg.png') repeat-x 0 0
      text-shadow white 2px 2px 0px

    .left-edge
      float left
      width 15px
      height  90px
      background url('/images/sprites.png') -20px -360px

    .right-edge
      position  relative
      right 12px
      float right
      width 15px
      height  90px
      background url('/images/sprites.png') 0px -360px
    .spacer
      $padding-top= 12px

      //float left
      width  12px
      height  $catalog-navbar-height
      position  relative
      //left -55px
      //top 2px
      padding-top  $padding-top
      // background(linear-gradient(bottom, $bg-gradien-bottom-color 0%, $bg-gradien-top-color 60% ))
      background url('/images/album-bg.png') repeat-x

.choose-items-btn
  float left
  position  relative
  $album-nav-btn-padding-left= 40px

  width ($album-nav-btn-width - $album-nav-btn-view-selected-width)
  height  ($album-nav-btn-height )
  padding  $album-nav-btn-padding-top 0 0 $album-nav-btn-padding-left !important
  margin  0 0 0 -8px
  background url('/images/sprites.png') -171px 0px
  text-align  left

  btn-a()

  &:hover
    background url('/images/sprites.png') -171px -90px

  &:active
    background url('/images/sprites.png') -171px -180px


  &.active
    span
      opacity 1
    background url('/images/sprites.png') -171px -270px
    &:hover
      background url('/images/sprites.png') -171px -360px
      &:active
        background url('/images/sprites.png') -171px -180px

  album-nav-subtitle-span(128px)

.view-selected-btn
  float left
  position  relative
  margin  0 0 0 0
  $album-nav-btn-padding-left= 0px

  width ($album-nav-btn-view-selected-width - $album-nav-btn-padding-left)
  height  ($album-nav-btn-height )
  padding  $album-nav-btn-padding-top 0 0 $album-nav-btn-padding-left !important

  background(url('/images/sprites.png') -360px 0px)
  text-align  left

  btn-a()
  &:hover
    &.disabled
      background url('/images/sprites.png') -360px 0px

    background url('/images/sprites.png') -360px -90px

  &:active
    &.disabled
      background url('/images/sprites.png') -360px 0px
    background url('/images/sprites.png') -360px -180px

  &.active
    background url('/images/sprites.png') -360px -270px
    &:hover
      background url('/images/sprites.png') -360px -360px
      &:active
        &.disabled
          background url('/images/sprites.png') -360px 0px
        background url('/images/sprites.png') -360px -180px

    &.disabled
      backgroundurl('/images/sprites.png') -360px 0px

  .view-selected-btn-content
    text-align center
    position: relative
    line-height 17px
    top -4px
    left -5px
    font-size 14px
    i
      font-size 24px
.refine-selection-btn
  float left
  position  relative
  margin 0 0 0 -18px

  $album-nav-btn-padding-left= 59px

  width ($album-nav-btn-width )
  height  ($album-nav-btn-height)
  padding  $album-nav-btn-padding-top 0 0 $album-nav-btn-padding-left !important
  background url('/images/sprites.png') -444px 0px
  text-align  left
  btn-a()
  &:hover
    background url('/images/sprites.png') -444px -90px
  &:active
    background url('/images/sprites.png') -444px -180px
  &.active, &.active.disabled
    span
      opacity 1
    background url('/images/sprites.png') -444px -270px
  &.disabled
    background url('/images/sprites.png') -444px 0px

  album-nav-subtitle-span(128px)

.send-request-btn
  float left
  position  relative
  margin 0 0 0 -18px

  $album-nav-btn-padding-left= 45px

  width ($album-nav-btn-width )
  height  ($album-nav-btn-height)
  padding  $album-nav-btn-padding-top 0 0 $album-nav-btn-padding-left !important
  background url('/images/sprites.png') -444px 0px
  text-align  left

  btn-a()
  &:hover
    background url('/images/sprites.png') -444px -90px
  &:active
    background url('/images/sprites.png') -444px -180px

  &.active
    background url('/images/sprites.png') -444px -270px

  &.disabled
    background url('/images/sprites.png') -444px 0px

  album-nav-subtitle-span(128px)
  span
    left $album-nav-btn-padding-left
    opacity 1
