$modal-width          = 811px
$section-images-dimension = 250px
$section-text-width   = $modal-width - $section-images-dimension
$section-text-height = 500px

$section-image-init-state-left    = -20px
$section-image-init-state-opacity = 0

#jvpic-catalog-guide

  .modal-dialog
    top: -20px !important
    width $modal-width
    margin-left: -($modal-width / 2) !important
    left:50% !important

    .modal-content
      /*box-shadow none*/

      .modal-body
        padding 20px 0px

      .modal-footer
        text-align center

#jvpic-guide-btn-open
  $color = #00D3B0

  display block
  position fixed
  bottom 20px
  right 10px
  z-index $main-content-z-index

  &:hover:before
    color rgba($color,0.4)

  &:before
    transition color linear 0.2s
    cursor pointer
    color rgba($color,0.2)
    content "\f059"
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size 80px
    line-height 80px
    text-align center

.guide-section
  display block
  position absolute
  font-family MyriadPro-Regular
  p
    font-size inherit

.guide-panel
  $color-center = lighten(#f6ac57,20%)
  $color-stop = darken($color-center,20%)

  display table-cell
  width 100%
  height 90px
  vertical-align middle
  text-align center
  background radial-gradient($color-center, $color-stop)
  color #f5f5f5
  font-family MyriadPro-Regular
  font-size 18pt
  text-shadow 1px 1px 2px darken($color-stop,40%)

