#jvpic-catalog-guide .modal-dialog {
  top: -20px !important;
  width: 811px;
  margin-left: -405.5px !important;
  left: 50% !important;
}
#jvpic-catalog-guide .modal-dialog .modal-content .modal-body {
  padding: 20px 0px;
}
#jvpic-catalog-guide .modal-dialog .modal-content .modal-footer {
  text-align: center;
}
#jvpic-guide-btn-open {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: $main-content-z-index;
}
#jvpic-guide-btn-open:hover:before {
  color: rgba(0,211,176,0.4);
}
#jvpic-guide-btn-open:before {
  transition: color linear 0.2s;
  cursor: pointer;
  color: rgba(0,211,176,0.2);
  content: "\f059";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
}
.guide-section {
  display: block;
  position: absolute;
  font-family: MyriadPro-Regular;
}
.guide-section p {
  font-size: inherit;
}
.guide-panel {
  display: table-cell;
  width: 100%;
  height: 90px;
  vertical-align: middle;
  text-align: center;
  background: radial-gradient(#f8bd79, #f49a33);
  color: #f5f5f5;
  font-family: MyriadPro-Regular;
  font-size: 18pt;
  text-shadow: 1px 1px 2px #a85e09;
}
