#jvpic-catalog-item-modal .modal-dialog {
  top: 21px !important;
  width: 920px;
  margin-left: -460px !important;
  left: 50% !important;
  border-color: #000;
}
#jvpic-catalog-item-modal .modal-header {
  display: table;
  width: 100%;
  height: 85px;
  padding: 0 !important;
  border-radius: 6px 6px 0 0;
  background: linear-gradient(top, #ffc41d 0%, #ffc931 3.16%, #ffc622 100%);
}
#jvpic-catalog-item-modal .modal-header .nav-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#jvpic-catalog-item-modal .modal-header .nav {
  display: block;
  width: 280px;
  border-bottom: none !important;
  position: relative;
  left: 320px;
}
#jvpic-catalog-item-modal .modal-header .nav li {
  margin: 0 !important;
}
#jvpic-catalog-item-modal .modal-header .nav li.active a {
  background-color: transparent;
}
#jvpic-catalog-item-modal .modal-header .nav li.active a [class^="fa-"],
#jvpic-catalog-item-modal .modal-header .nav li.active a [class*=" fa-"] {
  color: #fff;
  font-size: 40px;
  opacity: 1;
  top: 10px;
}
#jvpic-catalog-item-modal .modal-header .nav a {
  text-align: center;
  width: 70px;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  position: relative;
}
#jvpic-catalog-item-modal .modal-header .nav a:hover {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  opacity: 1;
  background-color: transparent !important;
}
#jvpic-catalog-item-modal .modal-header .nav a:hover [class^="fa-"],
#jvpic-catalog-item-modal .modal-header .nav a:hover [class*=" fa-"] {
  color: #fff;
  font-size: 40px;
  opacity: 1;
  top: 10px;
}
#jvpic-catalog-item-modal .modal-header .nav a:active [class^="fa-"],
#jvpic-catalog-item-modal .modal-header .nav a:active [class*=" fa-"] {
  font-size: 33px;
  top: 10px;
}
#jvpic-catalog-item-modal .modal-header .nav a [class^="fa-"],
#jvpic-catalog-item-modal .modal-header .nav a [class*=" fa-"] {
  color: #fff;
  font-size: 26px;
  line-height: 40px;
  position: relative;
  top: 12px;
  transition: opacity linear 0.2s;
  transition: top linear 0.2s;
  transition: font-size linear 0.2s;
  opacity: 0.7;
}
#jvpic-catalog-item-modal .modal-header .nav a:hover,
#jvpic-catalog-item-modal .modal-header .nav a:focus {
  border: none !important;
}
#jvpic-catalog-item-modal .modal-header .nav a span {
  font-size: 12px;
  opacity: 1;
  color: #000;
}
#jvpic-catalog-item-modal .modal-header .close {
  padding: 0 9px 0 0;
  transition: opacity linear 0.2s;
  font-size: 50px;
  color: #c1272d;
  opacity: 0.7;
}
#jvpic-catalog-item-modal .modal-header .close:hover,
#jvpic-catalog-item-modal .modal-header .close:focus {
  opacity: 1;
}
#jvpic-catalog-item-modal .modal-body {
  padding: 0 !important;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header {
  padding-top: 8px;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-collection {
  border-radius: 0 10px 10px 0;
  background-color: #f2f2f2;
  width: 300px;
  height: 80px;
  display: table-cell;
  vertical-align: middle;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-collection .logo {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: inherit;
  width: inherit;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-collection .title {
  font-size: 12px;
  color: #999;
  position: relative;
  bottom: 20px;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-title {
  display: table-cell;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  width: 613px;
  height: 80px;
  padding-left: 30px;
  vertical-align: middle;
  text-align: left;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-title .first-line {
  color: #000;
  font-size: 24px;
  line-height: 26px;
}
#jvpic-catalog-item-modal .modal-body .item-modal-header .item-modal-title .second-line {
  color: #999;
  font-size: 18px;
  line-height: 22px;
}
#jvpic-catalog-item-modal .modal-body .item-modal-body {
  min-height: 535px;
}
.item-modal-spacer {
  display: table-cell;
  width: 7px;
}
#jvpic-item-modal-tab-info {
  position: relative;
}
#jvpic-item-modal-tab-info .sidebar {
  width: 300px;
  min-height: 335px;
  position: relative;
}
#jvpic-item-modal-tab-info .sidebar .bookmark {
  left: 10px;
  z-index: $modal-dialog-z-index;
}
#jvpic-item-modal-tab-info .sidebar .images {
  width: inherit;
  position: relative;
  text-align: center;
}
#jvpic-item-modal-tab-info .sidebar .images img {
  position: relative;
}
#jvpic-item-modal-tab-info .sidebar .details {
  width: inherit;
}
#jvpic-item-modal-tab-info .sidebar .details dl {
  margin-bottom: 20px;
  margin-top: 20px;
}
#jvpic-item-modal-tab-info .sidebar .details dt,
#jvpic-item-modal-tab-info .sidebar .details dd {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
#jvpic-item-modal-tab-info .sidebar .details dt {
  width: 50%;
}
#jvpic-item-modal-tab-info .sidebar .details dd {
  text-align: left;
  width: 50%;
  margin-left: 55%;
}
#jvpic-item-modal-tab-info .content {
  width: 612px;
/*height: $modal-body-height*/
}
#jvpic-item-modal-tab-info .content p {
  text-align: justify;
  margin: 0;
  padding: 0 30px 20px 30px;
  background-color: transparent;
  border: none;
  font: 16px "Open Sans", Arial;
  line-height: 20px;
  color: #333;
}
#jvpic-item-modal-tab-info .tab-info-footer {
  height: 135px;
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads {
  display: table-cell;
  border-radius: 0 10px 10px 0;
  background-color: #f2f2f2;
  vertical-align: middle;
  width: 300px;
  height: inherit;
/*padding: 10px 0 10px 0*/
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a {
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
  display: block;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a img {
  margin-right: 10px;
  height: 18px;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a span {
  display: inline-block;
  font: 14px "Open Sans", Arial;
  line-height: 18px;
  vertical-align: middle;
  color: #000;
  width: 120px;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a i {
  font-size: 14px;
  color: #08c;
  line-height: 18px;
  vertical-align: middle;
  transition: font-size linear 0.2s;
  transition: opacity linear 0.2s;
  opacity: 0.6;
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a:hover i {
  font-size: 16px opacity(1);
}
#jvpic-item-modal-tab-info .tab-info-footer .downloads a:active i {
  font-size: 14px opacity(0.8);
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: 613px;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .image-container {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  height: 120px;
}
#jvpic-item-modal-tab-info .tab-info-footer .similar-items .jvpic-item-modal-tab-info-similar-items .image-container img {
  max-width: 100px;
  max-height: 100px;
}
#jvpic-item-modal-tab-rotate {
  height: 535px;
}
#jvpic-item-modal-tab-rotate>div {
  position: relative;
  top: 95px;
}
#jvpic-item-modal-tab-images {
  height: 535px;
}
#jvpic-item-modal-tab-images .image-viewer {
  height: 455px;
  padding: 10px 0 20px 0;
  position: relative;
}
#jvpic-item-modal-tab-images .image-viewer img {
  height: 425px;
  cursor: pointer;
}
#jvpic-item-modal-tab-images .image-viewer .download-original-image-link {
  position: absolute;
  bottom: 20px;
  font-size: 40px;
  text-decoration: none;
  transition: opacity linear 0.2s;
  transition: font-size linear 0.2s;
  opacity: 0.6;
}
#jvpic-item-modal-tab-images .image-viewer .download-original-image-link:hover {
  opacity: 1;
  font-size: 43px;
}
#jvpic-item-modal-tab-images .image-viewer .download-original-image-link:active {
  opacity: 1;
  font-size: 40px;
}
#jvpic-item-modal-tab-images .images-thumbnails {
  height: 80px;
  padding: 0;
}
#jvpic-item-modal-tab-images .images-thumbnails img {
  height: 70px;
  border: 3px solid rgba(68,68,68,0.1);
  padding: 5px;
  transition: border-color linear 0.2s;
  margin-right: 20px;
}
#jvpic-item-modal-tab-images .images-thumbnails img:hover,
#jvpic-item-modal-tab-images .images-thumbnails img.active {
  border-color: #ffbc00;
  cursor: pointer;
}
#jvpic-item-modal-tab-images .images-thumbnails img:last-child {
  margin-right: 0;
}
#jvpic-item-modal-tab-video {
  padding-top: 22.5px;
}
#jvpic-item-modal-tab-video .no-video {
  width: 853px;
  height: 480px;
  line-height: 480px;
  vertical-align: middle;
  border: 5px solid rgba(170,170,170,0.3);
  background-color: #f2f2f2;
  box-shadow: 0px 0px 3px 20px rgba(153,153,153,0.8) inset;
  color: #555;
}
