
$modal-width= 920px
$modal-header-height= 85px
$modal-sidebar-width= 300px
$modal-content-width= ($modal-width - $modal-sidebar-width - 8)
$modal-body-height= 535px // from settings

$nav-item-width= 70px
$nav-width= 4 * $nav-item-width
$nav-left= ($modal-width - $nav-width)/2
$section-bg-color= #f2f2f2

//info tab header
$header-height= 80px
$collection-width = 300px
$title-width = 613px
$spacer-width = $modal-width - $collection-width - $title-width

// info tab footer
// similar items
$similar-item-dimension = 120px
$similar-item-image-dimension = 100px
$similar-item-margin-left = 18px


#jvpic-catalog-item-modal

  .modal-dialog
    top:21px !important
    width $modal-width
    margin-left: -($modal-width / 2) !important
    left:50% !important
    border-color: black

  .modal-header
    display table
    width 100%
    height: $modal-header-height
    padding: 0 !important

    border-radius 6px 6px 0 0
    background linear-gradient(top, #ffc41d 0%, #ffc931 3.16%, #ffc622 100% )


    .nav-container
      display table-cell
      vertical-align middle
      text-align center

    .nav
      display block
      width: $nav-width
      border-bottom: none !important
      position: relative
      left: $nav-left

      $font-size-normal= 26px
      $font-size-hover= 40px
      $icon-top= 12px
      $icon-top-hover= 10px

      li
        margin: 0 !important
        &.active
          a
            background-color: transparent
            & [class^="fa-"], & [class*=" fa-"]
              color: white
              font-size: $font-size-hover
              opacity 1
              top: $icon-top-hover

      a
        text-align center
        width: $nav-item-width
        padding: 0 !important
        margin: 0 !important
        border: none !important
        position: relative

        &:hover
          padding: 0 !important
          margin: 0 !important
          border: none !important

          opacity 1
          background-color: transparent !important

          & [class^="fa-"], & [class*=" fa-"]
            color: white
            font-size: $font-size-hover
            opacity 1
            top: $icon-top-hover

        &:active
          & [class^="fa-"], & [class*=" fa-"]
            font-size: $font-size-hover - 7
            top: $icon-top-hover

        & [class^="fa-"], & [class*=" fa-"]
          color: white
          font-size: $font-size-normal
          line-height: $font-size-hover
          position: relative
          top: $icon-top
          transition opacity linear 0.2s
          transition top linear 0.2s
          transition font-size linear 0.2s
          opacity 0.7

        &:hover,&:focus
          border: none !important

        span
          font-size: 12px
          opacity 1
          color: #000000

    .close
      padding: 0 9px 0 0
      transition opacity linear 0.2s

      font-size: 50px
      color: #c1272d
      &:hover, &:focus
        opacity 1

      opacity 0.7

  .modal-body
    padding: 0 !important

    .item-modal-header
      padding-top: 8px

      .item-modal-collection
        border-radius 0 10px 10px 0
        background-color $section-bg-color
        width $collection-width
        height $header-height
        display table-cell
        vertical-align middle

        .logo
          display table-cell
          vertical-align middle
          position relative
          height inherit
          width inherit

        .title
          font-size: 12px
          color: #999
          position: relative
          bottom: 20px


      .item-modal-title
        $padding-left= 30px

        display table-cell
        border-radius 10px 0px 0px 10px
        background-color: $section-bg-color
        width: 613px
        height: ($header-height)
        padding-left:$padding-left
        vertical-align middle
        text-align: left
        .first-line
          color: #000
          font-size: 24px
          line-height: 26px

        .second-line
          color: #999
          font-size:18px
          line-height: 22px

    .item-modal-body {
      min-height $modal-body-height
    }

.item-modal-spacer
  display table-cell
  width $spacer-width

#jvpic-item-modal-tab-info
  $sidebar-images-height= 160px
  $sidebar-downloads-height= 135px
  $sidebar-details-height= 200px
  position: relative

  .sidebar
    width: $modal-sidebar-width
    min-height: $modal-body-height - $sidebar-details-height
    position relative
    bookmark()
    .bookmark
      left 10px
      z-index $modal-dialog-z-index

    .images
      width: inherit
      position: relative
      text-align center
      img
        position: relative

    .details
      width: inherit
      dl
        margin-bottom  20px
        margin-top @margin-bottom
      dt,dd
        font-size: 14px
        font-family: 'Open Sans', sans-serif
      dt
        width:50%
      dd
        text-align: left
        width: 50%
        margin-left: 55%

  .content
    width: $modal-content-width
    /*height: $modal-body-height*/
    p
      text-align: justify
      margin:0
      padding: 0 30px 20px 30px
      background-color: transparent
      border: none
      font: 16px "Open Sans", Arial
      line-height: 20px
      color: #333

  .tab-info-footer
    height $sidebar-downloads-height
    display table
    width 100%
    margin-bottom 10px

    .downloads
      display table-cell
      border-radius 0 10px 10px 0
      background-color: $section-bg-color
      vertical-align middle

      width: $collection-width
      height: inherit
      /*padding: 10px 0 10px 0*/
      a
        color: black
        text-decoration: none
        margin-bottom: 10px
        position: relative
        display: block

        img
          margin-right: 10px
          height: 18px

        span
          display: inline-block
          font: 14px "Open Sans", Arial
          line-height: 18px
          vertical-align: middle
          color: black
          width: 120px

        i
          font-size: 14px
          color: #0088CC
          line-height: 18px
          vertical-align: middle
          transition font-size linear 0.2s
          transition opacity linear 0.2s
          opacity 0.6

        &:hover i
          font-size: 16px opacity(1)
        &:active i
          font-size: 14px opacity(0.8)


    .similar-items
      display table-cell
      vertical-align middle
      height inherit
      width: $title-width
      border-radius 10px 0px 0px 10px
      background-color: $section-bg-color

      .jvpic-item-modal-tab-info-similar-items
        display inline-block
        vertical-align middle
        position relative
        .details-container
          bookmark()

        .image-container
          cursor  pointer
          display table-cell
          vertical-align middle
          width $similar-item-dimension
          height $similar-item-dimension

          img
            max-width $similar-item-image-dimension
            max-height $similar-item-image-dimension

#jvpic-item-modal-tab-rotate
  height: $modal-body-height

  &>div
    position: relative
    top: 95px
    //@include border-radius(10px)
    //border:15px solid #f2f2f2

  //.three-sixty
  //  width: 320px
  //  height: 320px
  //

#jvpic-item-modal-tab-images
  height: $modal-body-height
  $thm-img-height= 70px
  $thm-img-padding= 5px
  $thm-img-border= 3px
  $thm-padding-bottom= 20px
  $thm-height = ($thm-img-height + $thm-img-padding * 2)

  .image-viewer
    //background-color: rgba(#00dd00, 0.5)
    height: ($modal-body-height - $thm-height)
    padding: 10px 0 20px 0
    position: relative

    img
      height: ($modal-body-height - $thm-height - 30px)
      cursor:pointer

    .download-original-image-link
      position: absolute
      bottom:20px
      font-size: 40px
      text-decoration: none

      transition opacity linear 0.2s
      transition font-size linear 0.2s
      opacity 0.6
      &:hover
        opacity 1
        font-size: 43px

      &:active
        opacity 1
        font-size: 40px

  .images-thumbnails
    //background-color: rgba(#0000dd, 0.5)
    height: $thm-height
    padding: 0
    img
      height: $thm-img-height
      border: $thm-img-border solid rgba(#444, 0.1)
      padding: $thm-img-padding
      transition border-color linear 0.2s
      &:hover, &.active
        border-color: #FFBC00
        cursor: pointer

      margin-right: 20px
      &:last-child
        margin-right: 0

#jvpic-item-modal-tab-video
  padding-top: (($modal-body-height - 480)/2 - 5)
  .no-video
    width:853px
    height: 480px
    line-height: 480px
    vertical-align: middle
    border: 5px solid rgba(#aaa, 0.3)
    background-color: #f2f2f2
    box-shadow 0px 0px 3px 20px rgba(#999, 0.8) inset
    color: #555