btn-a()
  font-weight  bold
  font-size $album-nav-btn-font-size
  text-decoration  none !important
  text-shadow white 1px 1px 0px
  // twbp overrides
  background-color  transparent
  border  none
  cursor  pointer
  color  $album-nav-btn-a-normal-color
  outline none

  &:focus
    outline none !important

  &:hover
    color  $album-nav-btn-a-hover-color
    text-decoration  none !important
  &:visited
    color  $album-nav-btn-a-normal-color
    text-decoration  none !important

  &.active, &.active.disabled
    text-shadow white 1px 1px 0px
    color  $album-nav-btn-a-active-color
    text-decoration  none !important
    &:hover
      color  $album-nav-btn-a-active-hover-color
      text-decoration  none !important
  &:active
    //position  relative
    //right  1px
    //top 1px

    text-shadow white -1px -1px 0px
    color  $album-nav-btn-a-pressed-color
    text-decoration  none !important
  &.disabled
    color  $album-nav-btn-a-disabled-color
    text-decoration  none !important
    text-shadow white 0px 0px 0px
    cursor  default

album-nav-subtitle-span($min-width)
  span
    border-top  1px solid
    font-size  14px
    margin-top 4px
    min-width  $min-width
    position  absolute
    opacity 0
    transition opacity linear 0.2s


checkbox-fa($font-height, $line-height, $top=4px, $margin-right=0px, $left=0px)
  input[type=checkbox]
    display none
    & + label
      i[class*="fa-"]
        margin-right $margin-right
        width 18px
        top $top
        left $left

        position relative
      i.fa-check-square-o
        left $left

bookmark()
  &:hover
    .bookmark
      &:before
        display block

  .bookmark
    position  absolute
    top    2px
    left   0px
    width  24px
    height 24px
    cursor pointer

    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size 19px
    line-height: 19px;

    $fa-bookmark   = "\f02e"
    $fa-bookmark-o = "\f097"

    $color-normal   = #AAAAAA
    $color-hover    = #00AA8E
    $color-active   = #007D6A
    $color-disabled = #D3D3D3

    &:before
      color $color-normal
      content: $fa-bookmark-o
      display none

    &:hover:before
      color $color-hover
      content: $fa-bookmark-o
      display block

    &[data-bookmarked="true"]:before
      color $color-active
      content $fa-bookmark
      display block !important

    // refine & view tab

    &.active
      &:before
        font-family: FontAwesome;
        color $color-normal
        content: $fa-bookmark-o
        display block
      &:hover:before
        color $color-hover


    &.active[data-bookmarked="true"]:before
      color $color-active
      content: $fa-bookmark

    &.disabled:before
      color $color-disabled
      content $fa-bookmark