#jvpic-catalog-sidebar-container
  display table-cell
  vertical-align top
  width  $sidebar-width

  .back-to-top-btn
    display none
    position fixed
    bottom 20px
    width inherit
    text-align center

    &:hover:before
      color rgba(black,0.4)

    &:before
      transition color linear 0.2s
      cursor pointer
      color rgba(black,0.2)
      content "\f151"
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size 80px
      line-height 80px
      text-align center




#jvpic-catalog-sidebar
  display table-cell
  vertical-align top
  color  #444E57
  width inherit

  border-radius $sidebar-border-radius

  &.chrome:after
    margin-left -90px

  &.covered:after
    position  absolute
    top 0
    bottom 0
    width inherit
    background-color  rgba(#fff, 0.7)
    display inline-block
    content ""
    z-index $catalog-filter-curtain-z-index


  &.affix
    display fixed
    top 86px

  legend
    font-size  13px
    font-weight  bold
    padding 10px 0

  .header
    text-align center
    width 100%
    margin-bottom 5px
    border-radius $sidebar-border-radius
    background-color  $sidebar-bg-color
    border 1px solid #ddd

    #jvpic-catalog-sidebar-current-filter-container
      border-bottom 1px solid #ddd
      width 100%
      display table

      .current-filter-item
        cursor default
        margin 2px
        padding 3px
        float left
        border-radius 4px
        border 1px solid $current-filter-item-br-color
        background-color $current-filter-item-bg-color
        color $current-filter-item-color
        font-size 10px

        .close
          color white
          text-shadow none
          opacity 0.5
          font-size 14px
          margin-left 2px
          &:hover, &:focus
            opacity 1


    .btn-group
      padding 10px 0


  .accordion-toggle
    width  140px


#jvpic-catalog-sidebar-accordion
  .panel-heading
    label
      transition opacity linear 0.2s
      line-height 23px !important
      vertical-align middle
      &.half
        opacity 0.5

.panel-group
  background-color  transparent
  border-radius $sidebar-border-radius

  .panel
    background-color  $accordion-group-inner-bg-tp-color
    border-radius $sidebar-border-radius

  &.disabled
    .panel-heading
      opacity 0.3
  .panel-heading

    height  23px
    border-radius $sidebar-border-radius - 2


    background linear-gradient(top, $accordion-group-title-bg-bt-color 0%, $accordion-group-title-bg-tp-color 60% )
    padding  0 9px !important

    /*checkbox-fa($font-height, $line-height, 2px,2px,-2px)*/
    checkbox-fa($font-height, $line-height)

    &.collapsed
      background linear-gradient(bottom, $accordion-group-title-bg-bt-color 0%, $accordion-group-title-bg-tp-color 60% )
      a,label
        color  $accordion-group-title-collapsed-color

    a, label
      float left
      font-size  $font-height
      line-height  $line-height
      font-weight  bold
      color  $accordion-group-title-active-color
      text-decoration  none
      padding  0 !important
      position  relative
      top 0px
      vertical-align middle
    /*
    label
      color  $accordion-group-title-active-color
      float left
    */
    .icon-caret-right, .icon-caret-down
      position  relative
      top 3px
      font-size  16px

    .group-check
      margin-right  5px

  .panel-body
    padding  9px !important
    checkbox-fa($font-height, $line-height)
    background linear-gradient(top, $accordion-group-inner-bg-tp-color 0%, $accordion-group-inner-bg-bt-color 50px )
    border-top  none !important
    line-height 17px

    label
      font-weight  normal
      font-size  $filter-item-font-height
      line-height  $filter-item-line-height

.filter-slider
  $body-height = 18px
  $bg-color = #a1a6ab
  $handle-dimension = 6px
  $handle-border-width= 8px
  $handle-border-radius= 10px

  $range-height= 18px

  box-sizing content-box !important
  height : $body-height
  //width: 140px

  &.ui-corner-all
    box-sizing inherit
    border-radius ($body-height/2)

  &.ui-widget-content
    box-sizing inherit
    background-color: $bg-color

  &.ui-slider
    box-sizing inherit
    position: relative

    transition opacity linear 0.2s

    &.ui-slider-disabled
      box-sizing inherit
      opacity 0.3

    .ui-slider-range
      box-sizing inherit
      background-position: 0 0
      display: block
      font-size: 0.7em
      position: absolute
      z-index: 1
      height: $range-height
      top: 0
      background-color: #697178
      color: #FFFFFF
      font-weight: bold

    .ui-slider-handle
      outline none
      box-sizing inherit
      margin-left: -0.6em
      top: -2px
      cursor: pointer
      height: $handle-dimension
      position: absolute
      width: $handle-dimension
      border-radius $handle-border-radius
      z-index: 2
      border: $handle-border-width solid #c8a65e
      background-color: white

      transition border-color linear 0.2s
      transition background-color linear 0.2s
      transition box-shadow linear 0.2s

      &:hover
        border-color: #ffbd00
        box-shadow 0px 1px 3px rgba(#000, 0.5)

      &.ui-state-active
        background-color: #697178
        box-shadow 0px 0px 1px rgba(#000, 0.5)
    a
      text-decoration: none

.amount-min, .amount-max
  font-size: 10px
  font-weight: bold
  color: #444e57