#jvpic-catalog-sidebar-container {
  display: table-cell;
  vertical-align: top;
  width: $sidebar-width;
}
#jvpic-catalog-sidebar-container .back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  width: inherit;
  text-align: center;
}
#jvpic-catalog-sidebar-container .back-to-top-btn:hover:before {
  color: rgba(0,0,0,0.4);
}
#jvpic-catalog-sidebar-container .back-to-top-btn:before {
  transition: color linear 0.2s;
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  content: "\f151";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
}
#jvpic-catalog-sidebar {
  display: table-cell;
  vertical-align: top;
  color: #444e57;
  width: inherit;
  border-radius: $sidebar-border-radius;
}
#jvpic-catalog-sidebar.chrome:after {
  margin-left: -90px;
}
#jvpic-catalog-sidebar.covered:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
  background-color: rgba(255,255,255,0.7);
  display: inline-block;
  content: "";
  z-index: $catalog-filter-curtain-z-index;
}
#jvpic-catalog-sidebar.affix {
  display: fixed;
  top: 86px;
}
#jvpic-catalog-sidebar legend {
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0;
}
#jvpic-catalog-sidebar .header {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  border-radius: $sidebar-border-radius;
  background-color: $sidebar-bg-color;
  border: 1px solid #ddd;
}
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container {
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: table;
}
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container .current-filter-item {
  cursor: default;
  margin: 2px;
  padding: 3px;
  float: left;
  border-radius: 4px;
  border: 1px solid $current-filter-item-br-color;
  background-color: $current-filter-item-bg-color;
  color: $current-filter-item-color;
  font-size: 10px;
}
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container .current-filter-item .close {
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
  font-size: 14px;
  margin-left: 2px;
}
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container .current-filter-item .close:hover,
#jvpic-catalog-sidebar .header #jvpic-catalog-sidebar-current-filter-container .current-filter-item .close:focus {
  opacity: 1;
}
#jvpic-catalog-sidebar .header .btn-group {
  padding: 10px 0;
}
#jvpic-catalog-sidebar .accordion-toggle {
  width: 140px;
}
#jvpic-catalog-sidebar-accordion .panel-heading label {
  transition: opacity linear 0.2s;
  line-height: 23px !important;
  vertical-align: middle;
}
#jvpic-catalog-sidebar-accordion .panel-heading label.half {
  opacity: 0.5;
}
.panel-group {
  background-color: transparent;
  border-radius: $sidebar-border-radius;
}
.panel-group .panel {
  background-color: $accordion-group-inner-bg-tp-color;
  border-radius: $sidebar-border-radius;
}
.panel-group.disabled .panel-heading {
  opacity: 0.3;
}
.panel-group .panel-heading {
  height: 23px;
  border-radius: $sidebar-border-radius -2;
  background: linear-gradient(top, $accordion-group-title-bg-bt-color 0%, $accordion-group-title-bg-tp-color 60%);
  padding: 0 9px !important;
/*checkbox-fa($font-height, $line-height, 2px,2px,-2px)*/
/*
    label
      color  $accordion-group-title-active-color
      float left
    */
}
.panel-group .panel-heading.collapsed {
  background: linear-gradient(bottom, $accordion-group-title-bg-bt-color 0%, $accordion-group-title-bg-tp-color 60%);
}
.panel-group .panel-heading.collapsed a,
.panel-group .panel-heading.collapsed label {
  color: $accordion-group-title-collapsed-color;
}
.panel-group .panel-heading a,
.panel-group .panel-heading label {
  float: left;
  font-size: $font-height;
  line-height: $line-height;
  font-weight: bold;
  color: $accordion-group-title-active-color;
  text-decoration: none;
  padding: 0 !important;
  position: relative;
  top: 0px;
  vertical-align: middle;
}
.panel-group .panel-heading .icon-caret-right,
.panel-group .panel-heading .icon-caret-down {
  position: relative;
  top: 3px;
  font-size: 16px;
}
.panel-group .panel-heading .group-check {
  margin-right: 5px;
}
.panel-group .panel-body {
  padding: 9px !important;
  background: linear-gradient(top, $accordion-group-inner-bg-tp-color 0%, $accordion-group-inner-bg-bt-color 50px);
  border-top: none !important;
  line-height: 17px;
}
.panel-group .panel-body label {
  font-weight: normal;
  font-size: $filter-item-font-height;
  line-height: $filter-item-line-height;
}
.filter-slider {
  box-sizing: content-box !important;
  height: 18px;
}
.filter-slider.ui-corner-all {
  box-sizing: inherit;
  border-radius: 9px;
}
.filter-slider.ui-widget-content {
  box-sizing: inherit;
  background-color: #a1a6ab;
}
.filter-slider.ui-slider {
  box-sizing: inherit;
  position: relative;
  transition: opacity linear 0.2s;
}
.filter-slider.ui-slider.ui-slider-disabled {
  box-sizing: inherit;
  opacity: 0.3;
}
.filter-slider.ui-slider .ui-slider-range {
  box-sizing: inherit;
  background-position: 0 0;
  display: block;
  font-size: 0.7em;
  position: absolute;
  z-index: 1;
  height: 18px;
  top: 0;
  background-color: #697178;
  color: #fff;
  font-weight: bold;
}
.filter-slider.ui-slider .ui-slider-handle {
  outline: none;
  box-sizing: inherit;
  margin-left: -0.6em;
  top: -2px;
  cursor: pointer;
  height: 6px;
  position: absolute;
  width: 6px;
  border-radius: 10px;
  z-index: 2;
  border: 8px solid #c8a65e;
  background-color: #fff;
  transition: border-color linear 0.2s;
  transition: background-color linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.filter-slider.ui-slider .ui-slider-handle:hover {
  border-color: #ffbd00;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.filter-slider.ui-slider .ui-slider-handle.ui-state-active {
  background-color: #697178;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}
.filter-slider.ui-slider a {
  text-decoration: none;
}
.amount-min,
.amount-max {
  font-size: 10px;
  font-weight: bold;
  color: #444e57;
}
