$current-filter-item-br-color = #ddd
$current-filter-item-bg-color = #DEF2DF
$current-filter-item-color = #333

.panel-body
  .extra-item
    cursor default
    margin 5px
    padding 3px
    float left
    border-radius 4px
    border 1px solid $current-filter-item-br-color
    background-color $current-filter-item-bg-color
    color $current-filter-item-color
    font-size 14px

    .close
      color darkgrey
      text-shadow none
      opacity 0.5
      font-size 21px
      margin-left 2px
      &:hover, &:focus
        opacity 1

.cp-content-tab-body-item
  .thumbnail
    position relative
    img
      max-height 150px
      max-width 150px
    .caption
      font-size 12px
      height 30px
      overflow: hidden

#cp-data-coin-other-images
  .thumbnail
    margin-right 20px
    margin-bottom 20px
    float left

#cp-data-coin-animation-images
  .thumbnail
    margin-right 20px
    margin-bottom 20px
    float left
    img
      max-height 100px
      max-width 100px
