.panel-body .extra-item {
  cursor: default;
  margin: 5px;
  padding: 3px;
  float: left;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #def2df;
  color: #333;
  font-size: 14px;
}
.panel-body .extra-item .close {
  color: #a9a9a9;
  text-shadow: none;
  opacity: 0.5;
  font-size: 21px;
  margin-left: 2px;
}
.panel-body .extra-item .close:hover,
.panel-body .extra-item .close:focus {
  opacity: 1;
}
.cp-content-tab-body-item .thumbnail {
  position: relative;
}
.cp-content-tab-body-item .thumbnail img {
  max-height: 150px;
  max-width: 150px;
}
.cp-content-tab-body-item .thumbnail .caption {
  font-size: 12px;
  height: 30px;
  overflow: hidden;
}
#cp-data-coin-other-images .thumbnail {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
#cp-data-coin-animation-images .thumbnail {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
#cp-data-coin-animation-images .thumbnail img {
  max-height: 100px;
  max-width: 100px;
}
