.cp-content-tab-body-list.panel-group
  .panel-default
    .panel-heading
      background-color white

  .panel-heading
    .form-group
      margin-bottom 0

    &:before
      content ""
      display block
      float left
      height 34px
      width 5px
      left -10px
      position relative


    &:hover:before
      image "/images/grippy1_large.png" 5px 30px
      cursor move