.cp-content-tab-body-list.panel-group .panel-default .panel-heading {
  background-color: #fff;
}
.cp-content-tab-body-list.panel-group .panel-heading .form-group {
  margin-bottom: 0;
}
.cp-content-tab-body-list.panel-group .panel-heading:before {
  content: "";
  display: block;
  float: left;
  height: 34px;
  width: 5px;
  left: -10px;
  position: relative;
}
.cp-content-tab-body-list.panel-group .panel-heading:hover:before {
  image: "/images/grippy1_large.png" 5px 30px;
  cursor: move;
}
