.cp-content-tab-body.text-pieces {
  margin-bottom: 50px;
}
.cp-content-tab-body.text-pieces .cp-content-item {
  display: block;
  margin-bottom: $data-music-item-margin;
  padding: $data-music-item-padding;
  width: 100%;
  border: $data-nav-border-width solid $data-tab-header-nav-border-color;
  border-radius: $data-nav-border-radius$data-nav-border-width;
  background-color: $data-music-item-bg;
  transition: background-color linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.cp-content-tab-body.text-pieces .cp-content-item:hover {
  background-color: $data-music-item-hover-bg;
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  border: $data-nav-border-width solid $data-music-item-border-hover-color;
  border-radius: $data-nav-border-radius$data-nav-border-width;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container {
  height: $data-music-item-height;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container:before {
  content: "";
  display: block;
  background: none;
  width: 10px;
  height: $data-music-item-height;
  float: left;
  background-repeat: repeat-y;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form {
  height: $data-music-item-height;
  line-height: $data-music-item-height;
  vertical-align: middle;
  padding-left: 0;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug:hover,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content:hover {
  background-color: #fff;
  box-shadow: $data-form-input-hover-shadow;
  border-color: $data-form-input-border-hover-color;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug:focus,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content:focus {
  background-color: #fff;
  box-shadow: $data-form-input-focus-shadow;
  border-color: $data-form-input-border-focus-color;
}
