@import "./catalog/varaibles"
@import "./catalog/mixins"

@import "./catalog/album-nav"
@import "./catalog/sidebar"
@import "./catalog/item-modal"
@import "./catalog/guide"

#jvpic-catalog-container
  display none
  position: relative


#jvpic-catalog-content-container
  width $content-width
  display table
  margin-top ($catalog-navbar-height + 2)

#jvpic-catalog-tabs-container
  display table-cell
  width  ($content-width - $sidebar-width)
  min-height  600px


.items-row
  /*background url("/images/dotted.png") repeat-x 0 bottom*/
  padding-bottom  4px
  height  $catalog-item-choose-height
  display table
  width 100%
  .refine-item
    cursor  pointer
    &:first-child
      background url("/images/dotted-vertical.png") repeat-y right 0


.catalog-item
  width  $catalog-item-choose-width
  height  $catalog-item-choose-height
  float left
  overflow: hidden

  position  relative
  margin-left  (($content-width - $sidebar-width - $catalog-item-choose-width * 4) / 4 - 2)
  cursor  pointer

  &:hover, &.hover
    overflow visible
    .details-container
      border 1px solid $catalog-item-border-color
      z-index $catalog-item-hover-z-index

  .details-container
    position relative
    width  $catalog-item-choose-width
    background-color  rgba(white, 0.85)
    cursor  default
    overflow hidden
    border-radius 4px
    z-index $main-content-z-index

    border 1px solid transparent

    bookmark()

    a
      outline none

    .image-container
      width $catalog-item-choose-width
      height $catalog-item-choose-width
      cursor  pointer
      display table-cell
      vertical-align middle
      img
        max-height  $catalog-item-image-max-height
        max-width  $catalog-item-image-max-width

    ul
      position: relative
      opacity 0.4
      left 5px
      list-style none
      width 90%
      padding 0px

      .catalog-item-collection
        font-size  18px
        font-style italic
        font-weight bold
        line-height  22px
        img
          max-width $catalog-item-choose-width * 0.9

      .catalog-item-group
        font-size  13px
        font-style normal
        font-weight bold
        line-height  16px

      .catalog-item-title
        font-size  12px
        font-style normal
        font-weight normal
        line-height  15px
      .catalog-item-other
        font-size  10px
        font-style normal
        font-weight normal
        line-height  12px



      li
        text-align center

  .preorder-info
    position  absolute
    bottom 9px
    right  9px
    width  16px
    height  16px
    a
      &:before
        font-family  "FontAwesome"
        content  "\f06a"
        font-size  16px
        color  #f7931e
        font-style  bold

      text-decoration  none

.refine-item
  float left
  width  $catalog-item-refine-width
  height  $catalog-item-refine-height
  //border  1px solid red

  position  relative
  margin-left  (($content-width - $sidebar-width - $catalog-item-refine-width * 2) / 2 - 2)



  .image-container
    float left
    padding-top  5px
    width  $catalog-item-refine-height
    height  $catalog-item-refine-height
    img
      max-height  160px
      max-width  160px

  .details-container

    float left
    height  $catalog-item-refine-height
    width  ($catalog-item-refine-width - $catalog-item-refine-height - 10)
    position  relative
    padding  5px

    bookmark()

    table
      width  100%
      height  100%
      text-align  left

    .collection
      font-weight  bold
      font-size  14px
      line-height  17px
      color  #999999
    .group
      font-weight  normal
      font-size  14px
      line-height  17px
      color  #4D4D4D
    .title
      font-weight  bold
      font-size  18px
      line-height  18px
      color  #005951
    .details
      font-weight  normal
      font-size  12px
      line-height  18px
      color  #666666

  .preorder-info
    float right
    position  relative
    bottom -10px
    right  3px
    //width  16px
    height  10px
    border-radius 8px
    background-color  #f7931e
    padding  0px 3px 8px
    a
      &:before
        font-family  "FontAwesome"
        content  "\f06a"
        font-size  14px
        color  white
        //font-style  bold
        padding-right  3px
      text-decoration  none
      color  white
      font-size  13px
      font-weight  bold
      position  relative
      top  -4px

  .request-quantity
    color #666666
    //padding  0px 0px 11px
    font-size  14px
    /*span
      position  relative
      bottom 4px
    */
    .request-quantity-input
      width  50px
      text-align  center

#jvpic-catalog-request-form
  text-align  left
  margin-left  20px
  width  762px

  checkbox-fa(16px,20px)

  .info
    width  300px
    height  200px
    background-color  #fff5d8
    overflow  hidden
    p
      font-size  14px

  .request-total
    font-size  16px

    .request-label
      color  #444e57
      display  block
      float  left
      width  180px
      text-align  right
    .request-items-count, .request-coins-count
      color  #007d6a
      font-weight  bold

.no-pointer
  cursor  default !important

.modal-backdrop
  background-color #fff
  &.in
    opacity 0.9

#jvpic-catalog-tabs-choose
  margin-bottom 150px
