.required-field-marker
  color #8b0000
  opacity .5
  margin-right 2px
  font-family Arial
  text-decoration none
  border-bottom 0
  position: absolute
  &.inline
    position relative
    top 5px
    margin 0 30px 0 5px

.w200
  width 200px !important


.nav > li > a
  transition border-color linear .2s
  transition background-color linear .2s

.unselectable
  block-selection()

.mr-10
  margin-right 10px !important