.required-field-marker {
  color: #8b0000;
  opacity: 0.5;
  margin-right: 2px;
  font-family: Arial;
  text-decoration: none;
  border-bottom: 0;
  position: absolute;
}
.required-field-marker.inline {
  position: relative;
  top: 5px;
  margin: 0 30px 0 5px;
}
.w200 {
  width: 200px !important;
}
.nav > li > a {
  transition: border-color linear 0.2s;
  transition: background-color linear 0.2s;
}
.mr-10 {
  margin-right: 10px !important;
}
