
#main-navbar-container
  position  relative
  z-index $main-content-z-index
  /*transition margin-top 1s easeInOutQuint*/

  width  100%
  height  $main-navbar-height
  background url('/images/white-space.png') repeat-x 0 $iWhiteLineTop,
    linear-gradient(top, $main-navbar-bg-gr-tp-color 0%, $main-navbar-bg-gr-bt-color)

.main-navbar-space
  float left
  height  $main-navbar-height
  background url('/images/white-space.png') repeat-x 0 $iWhiteLineTop

#main-navbar
  width  $content-width
  //float left
  overflow  hidden
  background linear-gradient(top, #ffbd01 0%, #ffd048)

#main-navbar-item-container
  float left
  width  $main-navbar-item-container-width
  .nav-item
    float left
    height  $main-navbar-height
    width  $main-navbar-item-width

    a
      color  #000000
      text-decoration  none
      transition text-shadow linear 0.2s
      &:hover
        text-shadow rgba(white,0.99) 0px 2px 2px

    .nav-item-title
      height  $main-navbar-item-height
      font-size  12pt
      text-align  center
      a
        outline none !important
    .upper-item
      line-height  70px
    .lower-item
      position  relative
      top  2px
      height  $main-navbar-item-height - 2

    .nav-item-active
      font-weight  bold

    .nav-item-spacer
      height  $main-navbar-line-height + $main-navbar-item-height - 1
    .nav-item-line-up
      width 118px
      height $main-navbar-line-height
      background-color $main-navbar-bg-gr-bt-color
      background url('/images/sprites.png') 0 -268px

    .nav-item-line-down
      //height  $main-navbar-line-height * 2 + $main-navbar-item-height - 1
      width  118px
      height  $main-navbar-line-height
      background url('/images/sprites.png') 0 -260px


#main-navbar-logo
  float  left
  height  $main-navbar-height
  width  $main-navbar-logo-width
  background url('/images/jvpic-logo.png') no-repeat center center

.main-navbar-shop-btn
  float  left
  height  $main-navbar-height
  width  $content-width - $main-navbar-item-container-width - $main-navbar-logo-width - 50
  background url('/images/white-space.png') repeat-x 0 $iWhiteLineTop
  overflow  hidden
  .btn-img
    width  171px
    height  118px
    text-align center

    &.btn-down
      transition top linear 0.2s
      top  15px
      background url('/images/sprites.png') 0 -118px

      &:hover
        top  3px

    &.btn-up
      transition top linear 0.2s
      top  -26px
      background url('/images/sprites.png') 0px 0px
      &:hover
        top  -12px


  .btn-img

  a
    top 30px
    font-size 14px
    font-family "Open Sans"
    font-weight 500
    text-decoration  none
    position  relative
    width  171px
    color #434D56

    i
      font-size 18px