.page-container
  position relative

  .page-header-container
    height $catalog-navbar-height
    position relative
    padding-top $catalog-navbar-gutter
    display table
    width 100%
    border-spacing 0px

    .left-spacer
      height inherit
      display table-cell
      .filler
        margin-right 8px
        background url('/images/album-bg.png') repeat-x 0 -2px
        border-radius 0 6px 6px 0
        height inherit

    .right-spacer
      height inherit
      display table-cell
      .filler
        height inherit
        margin-left 8px
        background url('/images/album-bg.png') repeat-x 0 -2px
        border-radius 6px 0px 0px 6px

    .content
      height inherit
      width $content-width
      display table-cell

      border-radius 6px 6px 6px 6px
      background url('/images/album-bg.png') repeat-x 0 -2px

  .page-content
    width $content-width
    background-color white
    margin 20px 0px

    .inherit-width
      width inherit
