.page-container {
  position: relative;
}
.page-container .page-header-container {
  height: $catalog-navbar-height;
  position: relative;
  padding-top: $catalog-navbar-gutter;
  display: table;
  width: 100%;
  border-spacing: 0px;
}
.page-container .page-header-container .left-spacer {
  height: inherit;
  display: table-cell;
}
.page-container .page-header-container .left-spacer .filler {
  margin-right: 8px;
  background: url("/images/album-bg.png") repeat-x 0 -2px;
  border-radius: 0 6px 6px 0;
  height: inherit;
}
.page-container .page-header-container .right-spacer {
  height: inherit;
  display: table-cell;
}
.page-container .page-header-container .right-spacer .filler {
  height: inherit;
  margin-left: 8px;
  background: url("/images/album-bg.png") repeat-x 0 -2px;
  border-radius: 6px 0px 0px 6px;
}
.page-container .page-header-container .content {
  height: inherit;
  width: $content-width;
  display: table-cell;
  border-radius: 6px 6px 6px 6px;
  background: url("/images/album-bg.png") repeat-x 0 -2px;
}
.page-container .page-content {
  width: $content-width;
  background-color: #fff;
  margin: 20px 0px;
}
.page-container .page-content .inherit-width {
  width: inherit;
}
