$viewport-width = 1140px

#show-room-container
  /*border: 1px solid green*/
  position relative
  /*top 0*/
  z-index $showroom-z-index
  //float:left
  width: 100%
  background-color: rgba(yellow, 0.3)
  overflow: hidden

  .showroom-spacer
    background-color: rgba(white, 0.5)
    position: relative
    z-index: 100

#show-room-viewport
  float:left
  //background-color: #0e90d2

$btn-top = -10px
$btn-active-top = -8px

.sidebar-left-btn
  background url('/images/show-room-left-sidebar-btn-bg.png') no-repeat
  position: relative
  z-index: 100
  &:hover:before
    color: rgba(white, 0.7)

  &:active:before
    color: rgba(white, 0.3)
    font-size: 104px
    top: $btn-active-top

  &:before
    transition opacity linear 0.2s
    content: "\f0d9"
    font-family: "FontAwesome"
    font-size: 108px
    position: relative
    top: $btn-top
    text-align: center
    color: rgba(white, 0.5)
    cursor: pointer

.sidebar-right-btn
  background url('/images/show-room-right-sidebar-btn-bg.png') no-repeat
  position: relative
  z-index: 100

  &:hover:before
    color: rgba(white, 0.7)

  &:active:before
    color: rgba(white, 0.3)
    font-size: 104px
    top: $btn-active-top

  &:before
    transition opacity linear 0.2s
    content: "\f0da"
    font-family: "FontAwesome"
    font-size: 108px
    position: relative
    top: $btn-top
    text-align: center
    color: rgba(white, 0.5)
    cursor: pointer

#show-room-left-sidebar
  float:left
  position: relative
  z-index: 100

#show-room-slide-viewport
  float:left
  //background-color: #f8b9b7
  &:after
    //@include box-shadow(inset 0px 0px 20px rgba(black, 0.9))

#show-room-right-sidebar
  float:right
  position: relative
  z-index: 100

#show-room-slides-container
  overflow: visible
  position: relative

  .slide
    overflow: hidden
    position: absolute
    top:0

    .anim-slide-part-background
      position: absolute
      top:0
      left:0
      z-index: 10

    .anim-slide-part-seal
      position: absolute
      top:0
      left:50px
      z-index:20

    .anim-slide-part-collection-logo
      position: absolute
      top:0
      left:400px
      z-index:20

    .anim-slide-part-sidebar-coins
      position: absolute
      top:250px
      left:30px
      z-index:20


    .anim-slide-part-title
      position: absolute
      top:180px
      left:180px
      z-index:20

    .anim-slide-part-abvers
      position: absolute
      top:275px
      left:180px
      z-index:20

    .anim-slide-part-back-abvers
      //$width: 370px
      //$height: 198px
      //$radius: 20px
      //
      //height: $height
      //width: $width
      //
      //background-color: rgba(#fff, 0.3)
      position: absolute
      top:265px
      left:200px
      z-index:19
      //@include border-radius( $radius 0 0 $radius)

    .anim-slide-part-details
      position: absolute
      top:465px
      left:180px
      z-index:20

    .anim-slide-part-main-coin
      position: absolute
      top:180px
      left:430px
      z-index:20

    .anim-slide-part-coin-title
      position: absolute
      top:590px
      left:770px
      z-index:20

#show-room-slides-container
  overflow-x: visible
  overflow-y: hidden
