@mixin drop-shadow {
  position:relative;
  background:#fff;

  &:before, &:after {
    content:"";
    position:absolute;
    z-index:-2;
  }
}

/*---------- CURVED -----------*/

@mixin curved {
  &:before {
    @include box-shadow(0 0 10px rgba(#683d20,0.6));
  }
}

@mixin spec-shadow-curved-hz-1 {
  @include drop-shadow();
  @include curved();
  &:before {
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
  }
}

.curved-hz-2:before {
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  @include border-radius(100px / 10px);
}

/*---------- PERSPECTIVE -----------*/

@mixin perspective {
  &:before {
    left:80px;
    bottom:5px;
    width:50%;
    height:35%;
    max-width:200px;
    @include box-shadow(-80px 0 8px rgba(0, 0, 0, 0.4));
    @include transform(skew(50deg));
    @include transform-origin(0 100%);
  }

  &:after {
    display:none;
  }
}

@mixin spec-shadow-perspective{
  @include drop-shadow();
  @include perspective();
}

/*---------------- Lifted corners ---------------*/

@mixin lifted {
  @include border-radius(4px);

  &:before, &:after {
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    @include box-shadow(0 15px 10px rgba(0, 0, 0, 0.7));
    @include transform(rotate(-3deg));
  }

  &:after {
    right:10px;
    left:auto;
    @include transform(rotate(3deg));
  }
}

@mixin spec-shadow-lifted{
  @include drop-shadow();
  @include lifted();
}
