@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("/fonts/MyriadPro-Regular.eot"), url("/fonts/MyriadPro-Regular.otf") format('otf'), url("/fonts/MyriadPro-Regular.svg") format('svg'), url("/fonts/MyriadPro-Regular.woff") format('woff'), url("/fonts/MyriadPro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url("/fonts/MyriadPro-Bold.eot"), url("/fonts/MyriadPro-Bold.otf") format('otf'), url("/fonts/MyriadPro-Bold.svg") format('svg'), url("/fonts/MyriadPro-Bold.woff") format('woff'), url("/fonts/MyriadPro-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
