.cp-content-tab-body-list {
  position: relative;
  margin: $tab-list-header-height 0 50px 0;
  padding: 10px;
}
.cp-content-tab-body-list table thead tr {
  font-weight: bold;
}
.cp-content-tab-body-list table tbody td {
  color: #555;
  font-size: 14px;
  min-height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  vertical-align: middle;
}
.cp-content-tab-body-list table span.form-control {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}
.cp-content-tab-body-list form .form-group {
  margin-left: 0;
  margin-right: 0;
}
.cp-content-tab-body-item .thumbnail {
  margin-bottom: 0px;
  width: $data-item-img-cntr-width;
}
.cp-content-tab-body-item .thumbnail .caption h3,
.cp-content-tab-body-item .thumbnail .caption h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.cp-content-tab-body-item .thumbnail .img-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.cp-content-tab-body-item .thumbnail .img-container.no-image {
  box-shadow: $data-item-img-cntr-shadow;
}
.cp-content-tab-body-item .thumbnail:hover .thmb-img-panel-container {
  opacity: 1;
  top: $data-item-img-panel-padding-top-hover;
}
.cp-content-tab-body-item .thumbnail .thmb-img-panel-container {
  position: absolute;
  top: $data-item-img-panel-padding-top;
  width: inherit;
  transition: opacity 0.2s linear, top 0.2s linear;
  opacity: 0;
}
.cp-content-tab-body-item .thumbnail .thmb-img-panel-container .btn-group {
  position: relative;
  border: $data-item-img-panel-border;
  border-radius: $data-item-img-panel-border-radius;
}
#img-file-helpers-dialog .form-horizontal {
  padding: 10px 0 0 0;
}
#img-file-helpers-dialog .form-horizontal .form-group {
  margin: 0;
  padding: 0;
}
#img-file-helpers-dialog .form-horizontal .form-group .control-label {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
#img-file-helpers-dialog .form-horizontal .form-group .form-control {
  border: none;
  box-shadow: none;
  margin: 0;
  word-wrap: break-word;
  display: inline-block;
}
#img-file-helpers-dialog .img-container {
  padding: 10px;
}
#img-file-helpers-dialog .img-container img {
  max-width: 655px;
}
.panel-collapse-toggle {
  float: right;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  width: 20px;
}
.panel-collapse-toggle a {
  outline: none;
}
.panel-collapse-toggle a:before {
  content: "\f0d7";
  font-family: FontAwesome;
}
.panel-collapse-toggle a:hover,
.panel-collapse-toggle a:focus {
  text-decoration: none;
}
.panel-collapse-toggle a.in:before {
  content: "\f0d8";
  font-family: FontAwesome;
  text-decoration: none;
}
.cp-content-item-panel {
  text-align: right;
  float: right;
  position: relative;
  margin-top: 6px;
  margin-right: 0;
  padding-right: 0;
}
.required-field-marker {
  color: #8b0000;
  opacity: 0.5;
  margin-right: 2px;
  margin-left: -10px;
  font-family: Arial;
  text-decoration: none;
  border-bottom: 0;
  position: absolute;
}
.required-field-marker.inline {
  position: relative;
  top: 5px;
  margin: 0 30px 0 5px;
}
.cp-file-control {
  background-color: transparent !important;
}
.checkbox-fa-input + label + div > i {
  cursor: pointer;
}
