.cp-content-tab-body-list
  position relative
  margin $tab-list-header-height 0 50px 0
  padding 10px

  table
    thead
      tr
        font-weight bold

    tbody
      td
        // copied from from-control
        color #555
        font-size 14px
        min-height 34px
        line-height: 1.42857;
        padding: 6px 12px;
        vertical-align middle

    span.form-control
      border none !important
      background transparent !important
      box-shadow none !important

  form
    .form-group
      margin-left 0
      margin-right 0

.cp-content-tab-body-item
  .thumbnail
    margin-bottom 0px
    width $data-item-img-cntr-width

    .caption
      h3,h4
        margin-top 0px
        margin-bottom 0px

    .img-container
      position relative
      display table-cell
      vertical-align middle
      text-align center

      &.no-image
        box-shadow $data-item-img-cntr-shadow

    &:hover
      .thmb-img-panel-container
        opacity 1
        top $data-item-img-panel-padding-top-hover


    .thmb-img-panel-container
      position absolute
      top $data-item-img-panel-padding-top
      width inherit

      transition opacity 0.2s linear, top 0.2s linear
      opacity 0


      .btn-group
        position relative
        border $data-item-img-panel-border
        border-radius $data-item-img-panel-border-radius

#img-file-helpers-dialog
  .form-horizontal
    padding 10px 0 0 0

    .form-group
      margin 0
      padding 0

      .control-label
        margin 0
        padding-left 0
        padding-right 0

      .form-control
        border none
        box-shadow none
        margin 0
        word-wrap break-word
        display inline-block

  .img-container
    padding 10px

    img
      max-width ( 900*0.75 - 20 )px

// used in nav-items
.panel-collapse-toggle
  float right
  font-size 20px
  line-height 30px
  text-align right
  width 20px

  a
    outline none
    &:before
      content: "\f0d7"
      font-family FontAwesome
    &:hover,&:focus
      text-decoration none

    &.in:before
      content: "\f0d8"
      font-family FontAwesome
      text-decoration none


// used in nav-items
.cp-content-item-panel
  text-align right
  float right
  position: relative
  margin-top 6px
  margin-right 0
  padding-right 0

.required-field-marker
  color #8b0000
  opacity .5
  margin-right 2px
  margin-left -10px
  font-family Arial
  text-decoration none
  border-bottom 0
  position: absolute
  &.inline
    position relative
    top 5px
    margin 0 30px 0 5px

.cp-file-control
  background-color transparent !important


.checkbox-fa-input + label + div > i
  cursor pointer