.cp-content-tab-body.text-pieces {
  margin-bottom: 50px;
}
.cp-content-tab-body.text-pieces .cp-content-item {
  display: block;
  margin-bottom: $data-music-item-margin;
  padding: $data-music-item-padding;
  width: 100%;
  border: $data-nav-border-width solid $data-tab-header-nav-border-color;
  border-radius: $data-nav-border-radius$data-nav-border-width;
  background-color: $data-music-item-bg;
  transition: background-color linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.cp-content-tab-body.text-pieces .cp-content-item:hover {
  background-color: $data-music-item-hover-bg;
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  border: $data-nav-border-width solid $data-music-item-border-hover-color;
  border-radius: $data-nav-border-radius$data-nav-border-width;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container {
  height: $data-music-item-height;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container:before {
  content: "";
  display: block;
  background: none;
  width: 10px;
  height: $data-music-item-height;
  float: left;
  background-repeat: repeat-y;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form {
  height: $data-music-item-height;
  line-height: $data-music-item-height;
  vertical-align: middle;
  padding-left: 0;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug:hover,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content:hover {
  background-color: #fff;
  box-shadow: $data-form-input-hover-shadow;
  border-color: $data-form-input-border-hover-color;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug:focus,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content:focus {
  background-color: #fff;
  box-shadow: $data-form-input-focus-shadow;
  border-color: $data-form-input-border-focus-color;
}
.panel-body .extra-item {
  cursor: default;
  margin: 5px;
  padding: 3px;
  float: left;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #def2df;
  color: #333;
  font-size: 14px;
}
.panel-body .extra-item .close {
  color: #a9a9a9;
  text-shadow: none;
  opacity: 0.5;
  font-size: 21px;
  margin-left: 2px;
}
.panel-body .extra-item .close:hover,
.panel-body .extra-item .close:focus {
  opacity: 1;
}
.cp-content-tab-body-item .thumbnail {
  position: relative;
}
.cp-content-tab-body-item .thumbnail img {
  max-height: 150px;
  max-width: 150px;
}
.cp-content-tab-body-item .thumbnail .caption {
  font-size: 12px;
  height: 30px;
  overflow: hidden;
}
#cp-data-coin-other-images .thumbnail {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
#cp-data-coin-animation-images .thumbnail {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
#cp-data-coin-animation-images .thumbnail img {
  max-height: 100px;
  max-width: 100px;
}
.cp-content-tab-body-list.panel-group .panel-default .panel-heading {
  background-color: #fff;
}
.cp-content-tab-body-list.panel-group .panel-heading .form-group {
  margin-bottom: 0;
}
.cp-content-tab-body-list.panel-group .panel-heading:before {
  content: "";
  display: block;
  float: left;
  height: 34px;
  width: 5px;
  left: -10px;
  position: relative;
}
.cp-content-tab-body-list.panel-group .panel-heading:hover:before {
  image: "/images/grippy1_large.png" 5px 30px;
  cursor: move;
}
.item-list-content-modified {
  font-size: 10px;
  padding: 0px;
  text-align: center;
}
