#login-container {
  position: relative;
  display: table;
  height: 100%;
}
#login-form-container {
  position: relative;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
#login-form-container .panel {
  box-shadow: 0 2px 7px -3px rgba(0,0,0,0.5);
  width: 300px;
}
#login-form-container .panel .panel-body {
  padding: 10px 10px 0 10px;
}
#login-form-container .panel .panel-body .form-errors .alert {
  padding: 2px;
  font-size: 10pt;
}
