#cp-nav-container {
  margin-bottom: 0 !important;
}
#cp-nav-container .navbar-inner {
  width: 100%;
  position: relative;
  margin: auto;
}
#cp-nav-container .navbar-inner [class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
#cp-nav-container .navbar-inner .btn-group {
  display: inline-block;
  margin-left: 5px;
}
#cp-nav-container .navbar-inner .nav li a,
#cp-nav-container .navbar-inner .nav li a:focus {
  outline: none;
}
#cp-nav-container .navbar-inner .fa-fw {
  text-align: left;
  width: 1.4em;
}
.beaver-logo-link {
  padding: 5px 0px 5px 15px;
}
.beaver-logo-link img {
  max-height: 40px;
}
