#cp-nav-container
  margin-bottom 0 !important

  .navbar-inner
    width 100%
    position: relative
    margin auto

    [class*="col-"]
      padding-left 15px
      padding-right 15px

    .btn-group
      display: inline-block
      margin-left 5px

    .nav
      li
        a, a:focus
          outline none

    .fa-fw
      text-align left
      width 1.4em

.beaver-logo-link
  padding 5px 0px 5px 15px

  img
    max-height 40px